section.intro
  background: $white
  @include ptop
  @include pbottom

  .wrapper.grd
    grid-template-areas: 'a a a a a a' 'b b b c c c'


    .topline
      grid-area: a
      margin-bottom: 0

    .copy_intro
      grid-area: b
      text-align: left

    .copy
      grid-area: c
      padding-left: 5vw

  @media only screen and (max-width: 1024px)
    .wrapper.grd
      grid-template-areas: 'a a a a' 'b b b b' '. c c c'

  @media only screen and (max-width: 768px)
    .wrapper.grd
      grid-template-areas: 'a' 'b' 'c'
      text-align: center

      .copy_intro
        text-align: center

      .copy
        padding-left: 0

section.praxis_teaser
  background: $white
  @include pbottom

  .wrapper.grd
    grid-template-areas: 'a a a a b b' '. c c c c .'

    .item_1
      grid-area: a

    .item_2
      grid-area: b
      align-self: self-end
      position: relative
      bottom: -10%

    .item_3
      grid-area: c
      @include mtop

  @media only screen and (max-width: 1024px)
    .wrapper.grd
      grid-template-areas: 'a a a a b b' 'c c c c c c'

  @media only screen and (max-width: 768px)
    .wrapper.grd
      grid-template-areas: 'a a b' 'c c c'
    .item_3
      text-align: center

section.quote, div.quote
  background: $blue_gray20
  @include ptop
  @include pbottom

  .wrapper
    display: flex
    align-items: center
    flex-direction: column

  svg.ww_quote
    width: 80px
    height: 71px


section.credo_teaser
  background: $red_gradient
  @include ptop
  @include pbottom

  .wrapper
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    text-align: center

    .item_1, .item_2, .item_3
      width: 25%
      color: $white

    .item_4, h3
      width: 100%

      button
        margin-top: 40px

  @media only screen and (max-width: 1024px)
    .wrapper
      justify-content: space-evenly

      .item_1, .item_2, .item_3
        width: 45%

  @media only screen and (max-width: 768px)
    .wrapper
      align-items: center
      flex-direction: column

      .item_1, .item_2, .item_3
        width: 45%

  @media only screen and (max-width: 550px)
    .wrapper
      align-items: center
      flex-direction: column

      .item_1, .item_2, .item_3
        width: 100%
