footer
  background: $red_gradient
  color: $white
  padding-top: 80px

  .badge
    position: absolute
    right: 0
    top: -80px
    grid-column: 1/-1

  .directions
    display: flex
    flex-direction: column
    align-items: center
    grid-column: 1/-1
    @include mbottom

    a
      color: $white

    p
      width: 100%
      text-align: center

  .meta_informations
    grid-column: 1/-1
    display: flex
    justify-content: space-between
    flex-wrap: wrap

    .meta_informations__item
      width: 25%
      min-width: 256px
      &:nth-child(2)
        width: 40%
        padding: 0 3vw

      ul.oeffnungszeiten
        li
          &:nth-of-type(1)
            span.zeit
              text-indent: 5px
          span.zeit
            text-indent: 72px
            display: inline-block

    a
      color: $white

  .footer_bar
    background: $red_dark
    margin: 5vw 0 0


    ul.footer_links
      display: flex
      justify-content: space-between
      align-items: center
      padding: 40px 0
      li
        a
          color: $white
          font-weight: 400
        span.scrollUp
          cursor: pointer

@media only screen and (min-width: 610px) and (max-width: 940px)
  .meta_informations
    .meta_informations__item:nth-child(2)
      width: 100% !important
      order: 3

@media only screen and (max-width: 609px)
  .meta_informations
    .meta_informations__item:nth-child(2)
      width: 100% !important
      padding: 0 !important


@media only screen and (min-width: 769px)
  footer
    .directions
      p
        width: 70%


@media only screen and (max-width: 768px)
  footer
    .directions
      margin-top: -10vw

    .badge
      position: relative
      top: -80px
      grid-column: 1/-1
      display: flex
      justify-content: flex-end
