/*** Detail Hero Header
section.fond
  background: $red_gradient
  min-height: 30vw
  padding-top: 15vw
  color: $white

  .wrapper

    .item_1
      display: flex
      flex-direction: column
      align-items: center

    .copy_intro
      text-align: center
      margin-top: 2.5vw
      width: 80%

.intro
  background: $white

  .wrapper
    .intro_content
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      align-content: center

    .copy_intro
      text-align: center
      margin-top: 1vw


  @media only screen and (max-width: 1024px)
    .wrapper
      .intro_content

      .copy_intro
        text-align: left


.psh
  margin-top: 5vw
.pll
  margin-bottom: 5vw

.ctr
  text-align: center
  
.sxty, .svnty, .ghty
  margin: 0 auto
.sxty
  width: 60%
.svnty
  width: 70%
.ghty
  width: 80%

@media only screen and (max-width: 768px)
  .sxty, .svnty, .ghty
   width: 100%
