/*** Detail Hero Header
section.fond
  background: $red_gradient
  min-height: 30vw
  padding-top: 15vw
  color: $white

  .wrapper

    .item_1
      display: flex
      flex-direction: column
      align-items: center

    .copy_intro
      text-align: center
      margin-top: 2.5vw
      width: 80%

.intro
  background: $white

  .wrapper
    .intro_content
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      align-content: center

    .copy_intro
      text-align: center
      margin-top: 1vw
