section.faq_content
  background: $white
  @include ptop
  @include pbottom

  .wrapper
    display: flex
    flex-direction: column
    align-items: center

    .item_1
      width: 60%
      text-align: center
      margin-bottom: 2vw

    .item_2
      width: 60%

    .item_3
      display: flex
      flex-direction: column
      align-items: center
      width: 60%
      @include mtop
