.hero
  width: 100vw
  height: auto
  overflow: hidden
  margin: 5vw 0 0

  h3
    padding-bottom: 1rem
    text-align: center

  picture img
    object-fit: cover

  .greetings
    position: absolute
    bottom: 6vw
    margin: 0
    font-size: 19vw
    color: $white


.lax
  position: relative
  z-index: -1 !important
