.hero
  width: 100vw
  height: auto
  overflow: hidden
  margin: 5vw 0 0

  h3
    padding-bottom: 1rem
    text-align: center

  picture img
    object-fit: cover

  .greetings
    position: relative
    bottom: -48.5vw
    margin: 0
    font-size: 14vw
    color: $white
    text-transform: uppercase
    display: flex
    justify-content: center


.lax
  position: relative
  z-index: -1 !important

.welcome::before
  content: 'Willkommen.'
  font-size: 14vw
  color: $white
  text-transform: uppercase
  margin: 0 auto
