#links
  section.intro
    padding-bottom: 0

  section.links_content
    background: $white
    //@include ptop
    @include pbottom

    .item_1
      text-align: center
    ul.item_2
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      margin: 0 auto

      li
        margin: 2rem 0
        &:last-of-type
          margin: 2rem 0 0
