.team_detail
  padding-bottom: 0

  .item_2
    width: 60vw
    //max-width: 60vw
    background: none

  .item_3
    width: 100%
    padding: 0 15%
    margin-top: 40px
  @media only screen and (min-width: 768px) and (max-width: 1024px)
    .quote
      padding-top: 0
      padding-bottom: 0

section.member
  background: $blue_gray20
  @include ptop
  @include pbottom

  .wrapper

    .item_1
      padding: 0 15%


      ul.member_list
        list-style: disc
        padding-left: 1.5rem
        li
          a
            color: $black

section.back_btn
  @include ptop
  @include pbottom

  .wrapper
    display: flex
    justify-content: center


@media only screen and (max-width: 768px)
  .team_detail
    .wrapper
      .item_1
        margin-bottom: 0 !important
        div:nth-child(1)
          margin-bottom: 0 !important
      .quote
        width: 100vw !important
      .item_3
        margin-top: 0
        padding: 0
