button
  cursor: pointer
  appearance: none !important
  -webkit-appearance: none !important
  -moz-appearance: none !important

.btn
  @include font_bold
  font-size: 0.889rem
  line-height: 1.333rem
  box-sizing: border-box
  border-width: 3px
  border-style: solid
  border-color: transparent
  border-radius: 2rem
  padding: .6rem 1rem .5rem 1rem
  transition: color .25s ease, border-color .25s ease

  &:hover,
  &:focus,
  &:active
    border-width: 3px
    border-style: solid

.btn[data-animate="fade-up"]
  display: inline-block

.btn_blue
  border: 3px solid $blue_gray30

.btn_red
  border: 3px solid $red_light50
  background: $red_light50 border-box
  color: $white

  &:hover
    border-color: transparent
    background: $red_gradient border-box
    color: $white
  &:active
    border-color: transparent
    background: $red_dark
    color: $white


.btn_wht
  border: 3px solid $white
  background: $white
  color: $red_light50

.ww_top
  width: 64px
  height: 64px
  display: block

.ww_phone, .sticky_btn
  color: $red_light50
  background: $white
  &:hover
    border-color: $blue_gray40
  &:active
    border-color: $blue_gray50
    color: $red_dark


.ww_message
  border: 3px solid $red_light50
  background: $white
  color: $red_light50
  &:hover
    border-color: transparent
    background: $red_gradient border-box
    color: $white
  &:active
    border-color: transparent
    background: $red_dark
    color: $white
