a
	color: $red_light50
	//text-decoration: none
	@include font_regular
	transition: all ease .7s
	text-decoration: none

	&:visited
		//color: $red_light50


	&:hover,
	&:focus,
	&:active
		color: $red_light50
		border: none
		outline: 0

	&:hover,
	&:active
		outline: 0

a.link
	position: relative
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 2px
		bottom: 0
		left: 0
		background-color: $red_light50
		visibility: visible
		transform: scaleX(1)
		transition: all ease .7s

a.link:hover::before
	visibility: hidden
	transform: scaleX(0)

a.link.wht
	&::before
		background-color: $white
