svg.ww_tools, svg.ww_process, svg.ww_smile, svg.ww_checkboard, svg.ww_emergency, svg.ww_faq
  width: 120px
  height: 120px

svg.ww_logo_icon
  width: 37px
  height: 28px

svg.ww_logo_typo
  width: 228px
  height: 25px

svg.ww_phone, svg.ww_envelope, svg.ww_route, svg.ww_calendar
  width: 32px
  height: 32px
  background: none

svg.ww_flame
  width: 200px
  height: 200px
