@import '../node_modules/accordion-js/dist/accordion'

.ac
  background: $blue_gray20
  border: none
  padding: 0 1rem

.ac .ac-header
  height: 100%
  padding: 1rem 0
  margin: 0

.ac .ac-panel .ac-text
  color: $black
  @include font_regular
  font-size: min(max(5vw), 1rem)
  line-height: min(max(7vw), 1.5rem)
  padding: 0 0 1rem 0
  display: block

.ac .ac-trigger
  @include font_regular
  color: $black
  font-size: min(max(5vw), 1.333rem)
  line-height: min(max(7vw), 1.6rem)
  display: flex
  align-items: center
  height: 100%
  padding: 0 4.5rem 0 0

  &::after
    content: url(/assets/img/plus.svg)
    width: 48px
    top: 55%
    right: 0
    transition: all ease .7s

.ac.is-active > .ac-header .ac-trigger::after
  content: url(/assets/img/minus.svg)

.ac .ac-trigger:focus
  color: $black
