---
title: Anamnesebogen

eleventyNavigation:
  key: Anamnesebogen
  order: 4

layout: "layouts/base.njk"

seoTitle: Anamnesebogen
seoDescription: 
metaImage:
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">{{ title }}</span>
      <p class="copy_intro" data="fade-up delay">Neupatienten</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="stndrt">

  <div class="wrapper">

    <div class="item_1 sxty">

      Um unsere Behandlung und Beratung bestmöglich auf Sie abstimmen zu können, benötigen wir einige Angaben zu Ihrem Gesundheitszustand, eingenommenen Medikamenten und ihren Wünschen. 
      <br><br>
      Diesen Anamnesebogen können Sie bequem zu Hause ausdrucken, ausfüllen und zum nächsten Termin mit in unsere Praxis bringen. Alternativ kommen Sie gerne 10 Minuten vor Ihrem geplanten Termin, um den Bogen bei uns auszufüllen.<br>
      <a class="beta_link link" href="/assets/pdf/anamnesebogen_de.pdf" target="_blank" rel="nofollow noopener">Download Anamnesebogen / DE</a><br>
      <a class="beta_link link" href="/assets/pdf/anamnesebogen_en.pdf" target="_blank" rel="nofollow noopener">Download Anamnesebogen / EN</a>
      <br><br>
      Senden Sie uns aktuelle Röntgenbilder gerne vorab per Mail an <a class="link" href="mailto:praxis@zahnaerzte-in-ratingen.de">info@zahnaerzte-in-ratingen.de</a> oder bringen diese zum Termin mit.
      <br><br>
      Alle Behandlungsdaten unterliegen der ärztlichen Schweigepflicht und werden selbstverständlich nicht an Dritte weitergegeben. 
      Denken Sie bitte an Ihre Versicherungskarte.
            
    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>
