---
title: Ausstattung

eleventyNavigation:
  key: Ausstattung
  parent: praxis
  order: 4

layout: "layouts/base.njk"

seoTitle: Ausstattung
seoDescription: Ein Überblick über unsere Ausstattungs-Highlights
metaImage: 
---


<section class="hero lax">

  {% picture "ausstattung_01.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper">

    <div class="intro_content svnty">
      <span class="topline" data="fade-up">{{ title }}</span>

      <p class="copy_intro" data="fade-up delay">Top Ausstattung: Top Behandlung</p>

      <p class="ctr">Dank moderner technischer Hilfsmittel sind oftmals schnellere, schonendere und nicht zuletzt erfolgversprechendere Behandlungen möglich. Hier geben wir Ihnen einen Überblick über Ausstattungs-Highlights unserer Praxis:</p>

    </div><!-- .intro_content -->

    <div class=" svnty">

      <ul>
        <li class="h6" data="fade-up">
          Digitales und strahlungsarmes Rötgen
        </li>

        <li class="h6" data="fade-up">
          <a class="beta_link multi red" href="/leistungen">Pulverstrahlgeräte in der Prophylaxe mit warmen Wasser</a>
        </li>

        <li class="h6" data="fade-up">
          <a class="beta_link multi red" href="/leistungen">Lachgas</a>
        </li>

        <li class="h6" data="fade-up">
          <a class="beta_link multi red" href="/leistungen">Maschinelle und endometrische Wurzelkanalaufbereitung</a>
        </li>

        <li class="h6" data="fade-up">
          <a class="beta_link multi red" href="/leistungen">Arbeiten unter Vergrösserung</a>
        </li>

        <li class="h6" data="fade-up">
          Abdruckfreier Zahnersatz mittels Intraoralscanner möglich
        </li>
  
      </ul>


    </div><!-- . -->

  </div><!-- .wrapper -->

</section>

<section class="cta motivation">

  <div class="wrapper">

    <div class="item_1" data="fade-up">
      <svg class="ww_clock" alt="Questions?">
        <use xlink:href="#ww_clock"></use>
      </svg>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h3 data="fade-up">Jedoch nur das, was Sinn macht ...</h3>
      <p class="copy" data="fade-up delay">Wir haben stets den Blick auf die Medizintechnik gerichtet, um auch in diesem Bereich auf aktuellem Stand zu bleiben. Sinnvolle Neuerungen führen wir gerne für Sie ein – jedoch nur, wenn diese sich in der Praxis bewährt haben.</p>
    </div><!-- .item_2 -->

  </div><!-- .wrapper -->

</section>
