---
title: Ausstattung

eleventyNavigation:
  key: Ausstattung
  parent: praxis
  order: 4

layout: "layouts/base.njk"
---
<section class="hero lax">

  {% picture "ausstattung_01.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper">

    <div class="intro_content svnty">
      <span class="topline" data="fade-up">{{ title }}</span>

      <p class="copy_intro" data="fade-up delay">Top Ausstattung: Top Behandlung</p>

      <p class="ctr">Dank moderner technischer Hilfsmittel sind oftmals schnellere, schonendere und nicht zuletzt erfolgversprechendere Behandlungen möglich. Hier geben wir Ihnen einen Überblick über Ausstattungs-Highlights unserer Praxis:</p>

    </div><!-- .intro_content -->

    <div class="accordion-container svnty">

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
        </h6>
        <div class="ac-panel">
          <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula</button>
        </h6>
        <div class="ac-panel">
          <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
        </h6>
        <div class="ac-panel">
          <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
        </h6>
        <div class="ac-panel">
          <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula</button>
        </h6>
        <div class="ac-panel">
          <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
        </h6>
        <div class="ac-panel">
          <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
          <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
        </div>
      </div>

    </div><!-- .accordion-container -->

  </div><!-- .wrapper -->

</section>

<section class="motivation">

  <div class="wrapper">

    <div class="item_1" data="fade-up">
      <svg class="ww_clock" alt="Questions?">
        <use xlink:href="#ww_clock"></use>
      </svg>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h3 data="fade-up">Jedoch nur das, was Sinn macht ...</h3>
      <p class="copy" data="fade-up delay">Wir haben stets den Blick auf die Medizintechnik gerichtet, um auch in diesem Bereich auf aktuellem Stand zu bleiben. Sinnvolle Neuerungen führen wir gerne für Sie ein – jedoch nur, wenn diese sich in der Praxis bewährt haben.</p>
    </div><!-- .item_2 -->

  </div><!-- .wrapper -->


</section>
