---
title: Datenschutzerklärung

layout: "layouts/base.njk"

seoTitle: Datenschutz
seoDescription: Unsere Datenschutzerklärung
metaImage:
---

<section class="fond impressum">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up"></span>
      <p class="copy_intro" data="fade-up delay">{{ title }}</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section class="psh pll">

  <div class="wrapper sxty">
    <p>
      Für den persönlichen Schutz Ihrer Daten gelten in Deutschland das BDSG (Bundesdatenschutzgesetz) und das TMG (Telemediengesetz). Als Nutzer dieser Webseite werden Sie hier über die von Ihnen erhobenen und gespeicherten Daten sowie Ihre Rechte auf Auskunft, Änderung, Sperrung und Löschung informiert.
      <br><br>
      Bei ihrem Besuch auf unserer Internetseite (https://www.schwan-wilhelmy-bareis.de) verarbeiten wir einige technische Daten, die datenschutzrechtlich betrachtet personenbezogen sein können. Diese Daten werden nur benötigt, damit die Funktionalität der Seite sichergestellt werden kann.
      <br><br>
      <strong>1. Datenerhebung und -speicherung</strong><br>
      Die Praxis Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis, Lochnerstraße 43, 40878 Ratingen, erhebt beim Besuch des Internetauftritts (https://www.zahnaerzte-in-ratingen.de) die Daten der Nutzer und ist für diese Daten und die entsprechende Verarbeitung auch verantwortlich im datenschutzrechtlichen Sinn.
      <br><br>
      Aufrufen der Internetseite
      <br><br>
      Beim Aufrufen unserer Internetseite speichern unsere Web-Server vorübergehend folgende Daten (log files):
      <br><br>
      die IP-Adresse des aufrufenden Rechners,<br>
      der Standort des aufrufenden Rechners,<br>
      Datum und Uhrzeit des Aufrufs (in der Systemzeit des Servers),<br>
      die HTTP-Statuscode,<br>
      Browser und Betriebssystem inklusive Version<br>
      Die vom Nutzer aufgerufene Seite der Internetseite<br>
      Diese Daten sind erforderlich, um die Website darzustellen und das Navigieren und weitere Funktionen und Dienste der Seite zu ermöglichen und zu nutzen, sowie technische Probleme zu beheben.
      <br><br>
      Ihre persönlichen Daten werden gegenüber anderen Dritten (u.a. Unternehmen, Institutionen) weder offenlegt, überlassen, verkauft noch anderweitig vermarktet, sofern nicht Ihr ausdrückliches Einverständnis vorliegt. Etwas anderes gilt, wenn wir zur Offenlegung und Übermittlung Ihrer Daten gesetzlich oder durch gerichtliches Urteil verpflichtet sind.
      Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstößen gegen dieses Verbot sind ausdrücklich vorbehalten.
      <br><br>
      <strong>2. Cookies</strong><br>
      Diese Website verwendet keine Cookies.<br>
      <br><br>
      <strong>3. Auskunft, Berichtigung, Sperrung und Löschung</strong><br>
      Personenbezogene Daten werden nur mit Ihrer Einwilligung zur Beantwortung von Anfragen, Kontaktaufnahme und Abwicklung von Verträgen (z.B. regelmäßigen Information/Newsletter) und der technischen Administration erhoben und für Dritte unzugänglich gespeichert. Eine Weitergabe der Daten an Dritte erfolgt nur zum Zweck der Vertragsabwicklung bzw. bei Ihrer Einwilligung, welche Sie jederzeit widerrufen können. Eine Weitergabe/Verkauf der personenbezogenen Daten erfolgt nicht.
      Gern können Sie jederzeit Auskünfte über die gespeicherten Daten, den Zweck der Speicherung und deren Herkunft erhalten. Nach den gesetzlichen Bestimmungen können Sie ebenfalls von Ihrem Recht auf Berichtigung, Sperrung und Löschung Ihrer von uns erhobenen personenbezogenen Daten Gebrauch machen.
      <br><br>
      Kontakt für Ihre Anmerkungen, Adressänderungen, Ideen und Wünsche:<br>
      Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis<br>
      Lochnerstraße 43<br>
      40878 Ratingen<br>
      <br><br>
      Telefon: 0 21 02 . 84 73 73<br>
      Telefax: 0 21 02 . 87 08 05<br>
      praxis@zahnaerzte-in-ratingen.de<br>
      www.zahnaerzte-in-ratingen.de
      <br><br>
      <strong>4. Google Maps Plugin</strong><br>
      Um Ihnen den Anfahrtsweg zu uns visuell darzustellen, nutzen wir Google Maps zur Darstellung von Karten und zur Erstellung von Anfahrtsplänen.
      <br><br>
      Google Maps wird von Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA betrieben. Google Inc. ist ein für das EU-USA Privacy Shield zertifiziertes US-Unternehmen. Das Zertifikat finden Sie hier:
      <a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI" target="_blank" rel="nofollow">https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI</a>
      <br><br>
      Das US Privacy Shield Abkommen regelt den sicheren Datenaustausch zwischen EU-Mitgliedstaaten und den USA.
      <br><br>
      Durch den Besuch auf unsere Internetseite erhält Google Informationen darüber, dass Sie die entsprechende Seite bei uns aufgerufen haben. Dies erfolgt auch unabhängig davon, ob sie ein Nutzerkonto bei Google haben oder über dieses eingeloggt sind. Für den Fall, dass sie während der Nutzung der Webseite über ein Nutzerkonto von Google eingeloggt sind, können die Daten direkt ihrem Benutzerkonto zugeordnet werden. Wenn Sie dies nicht wünschen, so müssen Sie sich vor Nutzung des Dienstes ausloggen.
      <br><br>
      Google Inc. hat zur Nutzung der Dienste eigene Datenschutzrichtlinien, für die wir keine Verantwortung übernehmen können. Bitte lesen Sie sich diese ebenfalls durch:
      <a href="https://policies.google.com/privacy?hl=de" target="_blank" rel="nofollow">https://policies.google.com/privacy?hl=de</a>
      <br><br>
      Durch die Nutzung von Google Maps erklären Sie sich mit der Erfassung, Bearbeitung sowie der Nutzung der automatisch erhobenen sowie der von Ihnen eingegeben Daten durch Google und ggf. von Drittanbieter einverstanden. Das Ihnen zustehende Widerspruchsrecht müssen Sie direkt gegenüber Google ausüben. Über Ihre Browsereinstellungen können Sie den Google Maps-Dienst deaktivieren (Deaktivierung des JavaScripts im Browser). Eine Nutzung ist dann nicht mehr möglich.
      <br><br>
      Die Einbettung der Google Karte auf unserer Internetseite beruht auf der Rechtsgrundlage nach Art. 6 Abs. 1 lit. f DS-GVO.
      <br><br>
      <strong>5. Google Fonts API</strong><br>
      Um Ihnen einfach und unkompliziert über jedes Endgerät die gleiche Schrift anzuzeigen, nutzen wir Google Fonts. Dies ist ein Dienst der Google Inc., bei dem wir die entsprechende Schrift von dem Server der Google Inc. laden können. Dadurch werden keine Cookies auf Ihrem Endgerät gespeichert. Wenn Sie unsere Seite aufrufen, muss Ihr Browser allerdings jedes Mal bei dem Google Server nach Änderungen bei der Schrift anfragen, damit Ihnen diese beim Aufruf der Seite direkt angezeigt werden kann. Google Inc. gibt an, dass die hierdurch übermittelten technischen Daten nicht mit Ihren möglicherweise registrierten Google Daten verknüpft werden. Die Google Inc. hat sich durch die Zertifizierung unter dem US Privacy Shield (s.o.) entsprechenden Anforderungen zum Schutz der personenbezogenen Daten unterworfen. Die Nutzung der Google Schriften beruht auf der Rechtegrundlage nach Art. 6 Abs. 1 lit. f DS-GVO.
      <a href="https://developers.google.com/fonts/faq" target="_blank" rel="nofollow">https://developers.google.com/fonts/faq</a>
      <br><br>
      <strong>6. Datenspeicherung und Löschung</strong><br>
      Ihre Daten werden in der Bundesrepublik Deutschland gespeichert. Wir übermitteln keine Daten in europäisches Ausland, außereuropäisches Ausland oder die USA. Unsere Server stehen in Deutschland. Die oben genannten Daten werden nach Ihrem Besuch auf unserer Seite automatisch gelöscht.
      <br><br>
      <strong>7. Rechtsgrundlage der Speicherung</strong><br>
      Die Rechtsgrundlage der Speicherung oben benannter Daten ist Art. 6 Abs. 1 lit. f DS-GVO. Das dort benannte berechtigte Interesse folgt aus der Notwendigkeit, die Internetseite und die oben beschriebenen Funktionen darzustellen und Ihnen zugänglich zu machen.
      <br><br>
      <strong>8. Sichere Datenübertragung</strong><br>
      Unsere Internetseite ist SSL-Verschlüsselt. Dies erkennen Sie an der Adresszeile „HTTPS“. Bei der SSL-Verschlüsselung handelt es sich um eine Transportverschlüsselung, damit Dritte Ihre Daten nicht einsehen können.
      <br><br>
      <strong>9. Ihre Rechte</strong><br>
      Sie haben das Recht, jederzeit Auskunft über Ihre von uns gespeicherten personenbezogenen Daten zu erhalten. Sie können dabei unentgeltlich Auskunft über die Herkunft der Daten, den Speicherort, den Empfänger und den Zweck erhalten. Sie können auch die Berichtigung Ihrer Daten verlangen, wenn diese fehlerhaft oder unvollständig sind.
      <br><br>
      Sie können außerdem die Sperrung bzw. Löschung der von uns über Sie gespeicherten personenbezogenen Daten verlangen. Soweit Aufbewahrungspflichten der Löschung entgegenstehen, werden Ihre Daten für diesen Zweck gesperrt. Die Löschung („Recht auf Vergessen“) Ihrer Daten, soweit möglich, können Sie jederzeit fordern; ebenso wie die Berichtung und die Auskunft.
      <br><br>
      Im Falle eines Widerrufes bleibt die Verarbeitung Ihrer Daten bis zu diesem Zeitpunkt rechtswirksam. Der Widerruf einer Einwilligung in die Datenverarbeitung ist also nur für die Zukunft möglich.
      <br><br>
      Kontakt für Ihren Widerruf:<br>
      Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis<br>
      Lochnerstraße 43<br>
      40878 Ratingen<br>
      <br><br>
      Telefon: 0 21 02 . 84 73 73<br>
      Telefax: 0 21 02 . 87 08 05<br>
      praxis@zahnaerzte-in-ratingen.de<br>
      www.zahnaerzte-in-ratingen.de<br>
      <br><br>
      Sie haben außerdem die Möglichkeit, Ihre freiwillig zur Verfügung gestellten Daten auf Wunsch an einen Dritten übermitteln zu lassen.
      <br><br>
      Sie sind zudem berechtigt, sich jederzeit bei der zuständigen Aufsichtsbehörde über die Datenverarbeitung zu beschweren. Bei der zuständigen Aufsichtsbehörde handelt es sich in der Regel um den Landesdatenschutzbeauftragten des jeweiligen Bundeslandes.
      <br><br>
      <strong>10. Aktualität und Änderung dieser Datenschutzerklärung</strong><br>
      Diese Datenschutzerklärung ist aktuell gültig und hat den Stand Mai 2018.
      <br><br>
      Durch die Weiterentwicklung unserer Website oder aufgrund geänderter gesetzlicher beziehungsweise behördlicher Vorgaben kann es notwendig werden, diese Datenschutzerklärung entsprechend anzupassen. Die jeweils aktuelle Datenschutzerklärung kann jederzeit auf der Website von Ihnen abgerufen und ausgedruckt werden.
      <br><br>
      <strong>11. Verantwortlich für die Datenverarbeitung</strong><br>
      Verantwortlich für die Datenverarbeitung auf dieser Internetseite ist die Praxis Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis, Lochnerstraße 43, 40878 Ratingen. Ihre Ansprüche können Sie entweder per E-Mail oder postalisch an uns richten.
      <br><br>
      Wenn Sie Fragen zum Datenschutz haben, wenden Sie sich bitte direkt an:<br>
      Jennifer Prinz<br>
      praxis@zahnaerzte-in-ratingen.de<br>
    </p>
  </div><!-- .wrapper -->

</section>
