---
title: Dr. Julia Wilhelmy-Wunderlich

eleventyNavigation:
  key: Dr. Julia Wilhelmy-Wunderlich
  parent: Zahnärztinnen & Team
  order: 1

layout: "layouts/base.njk"
---

<section class=" fond team">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Ärztinnen</span>
      <p class="copy_intro" data="fade-up delay">Dr. Julia Wilhelmy-Wunderlich</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="team_portrait team_detail">

  <div class="wrapper">

    <div class="item_1">

      <div class="rnd" data="fade-up">
        {% picture "Julia-Wilhelmy-Wunderlich.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>

    </div><!-- .item_1 -->

    <div class="item_2 quote">

      <svg class="ww_quote" alt="Quotation Marks" data="fade-up delay">
        <use xlink:href="#ww_quote"></use>
      </svg>

      <p class="quote_line_small" data="fade-up">Ein schönes Lächeln erleichtert das Leben und verbindet uns mit anderen Menschen.</p>

    </div><!-- .item_2 -->

    <div class="item_3">

      <h6 data="fade-up">  Liebe Patientinnen, liebe Patienten,</h6>
      <p data="fade-up delay">als Tochter zweier Zahnmediziner kam ich schon früh in Berührung mit diesem Beruf. So entwickelte sich schnell der Wunsch selber Zahnärztin zu werden. Geboren und aufgewachsen in Düsseldorf zog es mich 2008 zum Studium in die Universitätsstadt Münster. Nach dem Staatsexamen 2013 konnte ich in zwei großen Düsseldorfer Praxen Routine und neue Erfahrungen sammeln.
      <br><br>Seit März 2017 bin ich Teil dieses tollen und eingeschweißten Teams in Ratingen und werde ab 2020 den Praxisteil von Herrn Bareis übernehmen.
      <br><br>Ich freue mich auf meine neuen Aufgaben und die Herausforderungen der Selbstständigkeit, sowie darauf all die Patienten kennenzulernen, die bisher ausschließlich von Herrn Bareis betreut wurden.
      <br><br>Besondere Freude bereitet mir der Umgang mit den Patienten und wenn diese am Ende der Behandlung mit einem Lächeln die Praxis wieder verlassen können. Dafür versuche ich mich stets in Ihre Lage zu versetzen, um mit Ihnen ein individuelles Konzept zu erarbeiten.
      <br><br>Der Besuch beim Zahnarzt soll für Sie in guter Erinnerung bleiben.
      In meiner Freizeit treibe ich gerne Sport, treffe gute Freunde, koche gerne und bereise die Welt, sofern es die Zeit zulässt.</p>
      <h6 data="fade-up">Ihre Julia Wilhelmy-Wunderlich</h6>

    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>

<section class="member">

  <div class="wrapper">

    <div class="item_1">
      <h3 data="fade-up">Mitglied</h3>
      <ul class="member_list" data="fade-up delay">
        <li><a class="link" href="#" rel="nofollow noopener">Deutsche Gesellschaft für Zahn-, Mund- und Kieferheilkunde (DGZMK)</a></li>
        <li><a class="link" href="#" rel="nofollow noopener">DGParo</a></li>
      </ul>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section class="back_btn">

  <div class="wrapper">

    <button class="btn btn_red" onclick="location.href='/team'" type="button" data="fade-up">zurück zum Team</button>

  </div><!-- .wrapper -->

</section>
