---
title: Dr. Janna Bruns

eleventyNavigation:
  key: Dr. Janna Bruns
  parent: Zahnärztinnen & Team
  order: 2

layout: "layouts/base.njk"

seoTitle: Dr. Janna Bruns
seoDescription: 
metaImage:
---

<section class="fond team">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Ärztinnen</span>
      <p class="copy_intro" data="fade-up delay">Dr. Janna Bruns</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="team_portrait team_detail">

  <div class="wrapper">

    <div class="item_1">

      <div class="rnd" data="fade-up">
        {% picture "Janna_Bruns.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>

    </div><!-- .item_1 -->

    <div class="item_2 quote">

      <svg class="ww_quote" alt="Quotation Marks" data="fade-up delay">
        <use xlink:href="#ww_quote"></use>
      </svg>

      <p class="quote_line_small" data="fade-up">Ein schönes Lächeln erleichtert das Leben und verbindet uns mit anderen Menschen.</p>

    </div><!-- .item_2 -->

    <div class="item_3">

      <h6 data="fade-up">  Liebe Patientinnen, liebe Patienten,</h6>
      <p data="fade-up delay">
        ab Januar 2020 bin ich Teil des netten Praxisteams in Ratingen und möchte mich gerne vorstellen.
        <br><br>
        Die Verbindung von Medizin, Ästhetik und individuellen Patientenbedürfnissen weckte schon früh den Wunsch in mir, Zahnärztin zu werden. Diesen Wunsch setzte ich mit meinem Zahnmedizinstudium an der Albert-Ludwigs-Universität in meiner Heimatstadt Freiburg im Breisgau in die Tat um.
        <br><br>
        Nach dem Staatsexamen arbeitete ich zunächst als Assistenzzahnärztin in einer Zahnarztpraxis in Freiburg und stellte meine Doktorarbeit in der Zahnklinik des Universitätsklinikums Freiburg fertig.
        Im Anschluss daran zog es mich ins schöne Düsseldorf, wo ich in einer größeren Zahnarztpraxis in sehr unterschiedlichen Bereichen der Zahnheilkunde einen großen praktischen Erfahrungsschatz aufbauen konnte.
        <br><br>
        Im Vordergrund stehen für mich vor allem zahnerhaltende Maßnahmen wie die Karies- und Parodontitisprophylaxe sowie die ästhetische Zahnmedizin, wobei mir als Zahnärztin Ihr Wohlbefinden und eine schmerzfreie Behandlung besonders am Herzen liegen.
        <br><br>
        Als kreativen Ausgleich verbringe ich gerne Zeit mit meiner Familie und guten Freunden, liebe lange Spaziergänge mit meinem Hund, mache Sport und habe die Leidenschaft entwickelt, andere Länder und Kulturen zu entdecken. Ich freue mich sehr darauf, Sie persönlich kennenzulernen und Sie auf dem Weg zu einem schönen und gesunden Lächeln zu begleiten.
      </p>
      <h6 data="fade-up">Ihre Janna Bruns</h6>

    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>

<section class="member">

  <div class="wrapper">

    <div class="item_1">
      <h3 data="fade-up">Mitglied</h3>
      <ul class="member_list" data="fade-up delay">
        <li><a class="link" href="#" rel="nofollow">Deutsche Gesellschaft für Zahn-, Mund- und Kieferheilkunde (DGZMK)</a></li>
        <li><a class="link" href="#" rel="nofollow">DGParo</a></li>
      </ul>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section class="back_btn">

  <div class="wrapper">

    <button class="btn btn_red" onclick="location.href='/team'" type="button" data="fade-up">zurück zum Team</button>

  </div><!-- .wrapper -->

</section>
