---
title: Dr. Verena Gaster

eleventyNavigation:
  key: Dr. Verena Gaster
  parent: Zahnärztinnen & Team
  order: 2

layout: "layouts/base.njk"

seoTitle: Dr. Verena Gaster
seoDescription: 
metaImage:
---

<section class="fond team">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Ärztinnen</span>
      <p class="copy_intro" data="fade-up delay">Dr. Verena Gaster</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="team_portrait team_detail">

  <div class="wrapper">

    <div class="item_1">

      <div class="rnd" data="fade-up">
        {% picture "Verena-Gaster.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>

    </div><!-- .item_1 -->

    <div class="item_2 quote">

      <svg class="ww_quote" alt="Quotation Marks" data="fade-up delay">
        <use xlink:href="#ww_quote"></use>
      </svg>

      <p class="quote_line_small" data="fade-up">Ein schönes Lächeln erleichtert das Leben und verbindet uns mit anderen Menschen.</p>

    </div><!-- .item_2 -->

    <div class="item_3">

      <h6 data="fade-up">  Liebe Patientinnen, liebe Patienten,</h6>
      <p data="fade-up delay">
        Ab Februar 2024 bin ich Teil des Praxisteams und möchte mich gerne kurz vorstellen.
        Aufgewachsen bin ich an der hessischen Bergstraße.<br>
        Mein Studium der Zahnmedizin absolvierte ich im schönen Freiburg im Breisgau.<br> 
        Nach dem Examen 2013 verbrachte ich meine ersten Berufsjahre in einer Zahnarztpraxis im Elztal nahe Freiburg, von wo aus es mich dann 2018 ins Allgäu zog. Hier konnte ich meine Behandlungsroutine auf nahezu allen Gebieten der Zahnheilkunde weiter ausbauen.<br>
        In den letzten 2 Jahren lebte und arbeitete ich in Südtirol (Italien) und durfte dort meinen Erfahrungsschatz in einer ganzheitlichen Zahnarztpraxis stetig erweitern.<br><br>
        Zahnmedizin ist für mich mehr als nur ein Beruf – es ist mir stets ein Anliegen, eine vertrauensvolle Behandlerin zu sein, die den ganzen Patienten in den Mittelpunkt stellt und mir ist es wichtig, die Behandlung möglichst angenehm zu gestalten.<br>
        Meine Freizeit verbringe ich gerne mit Sport, spannenden Büchern, gutem Essen und natürlich mit Familie & Freunden.<br><br>

        Ich freue mich auf ein persönliches Kennenlernen!
      </p>
      <h6 data="fade-up">Ihre Verena Gaster</h6>

    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>

<section class="member">

  <div class="wrapper">

    <div class="item_1">
      <h3 data="fade-up">Mitglied</h3>
      <ul class="member_list" data="fade-up delay">
        <li><a class="link" href="#" rel="nofollow">Deutsche Gesellschaft für Zahn-, Mund- und Kieferheilkunde (DGZMK)</a></li>
        <li><a class="link" href="#" rel="nofollow">DGParo</a></li>
      </ul>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section class="back_btn">

  <div class="wrapper">

    <button class="btn btn_red" onclick="location.href='/team'" type="button" data="fade-up">zurück zum Team</button>

  </div><!-- .wrapper -->

</section>
