---
title: FAQ

eleventyNavigation:
  key: FAQ
  parent: Service
  order: 1

layout: "layouts/base.njk"

seoTitle: FAQ
seoDescription:
metaImage:
---
<section class="hero lax">

  {% picture "02_Szenen_0662.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper">

    <div class="intro_content sxty">
      <span class="topline" data="fade-up">Service</span>

      <p class="copy_intro" data="fade-up delay">Fragen? Antworten.</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section class="faq_content">

  <div class="wrapper">

    <div class="item_1 sxty" data="fade-up">

      <p>Gerne nehmen wir uns in einem persönlichen Gespräch Zeit für all ihre Fragen.
        <br>Für schnelle Antworten haben wir hier die häufigsten Fragen zusammengestellt.
      </p>

    </div><!-- .item_1 -->


    <div class="item_2 sxty">

      <div class="accordion-container">

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Gibt es Parkmöglichkeiten bei der Praxis?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Für unsere Patienten bieten wir reservierte Parkplätze beidseitig vor der Schranke (siehe <a class="beta_link link" href="#karte" target="_self" rel="nofollow noopener">Karte</a>), sowie Parkmöglichkeiten im Wendeplatz am Ende der Lochnerstraße an.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Was mache ich, wenn ich meinen Termin nicht wahrnehmen kann oder deutlich zu spät komme?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Da wir eine Terminpraxis sind, melden Sie sich bitte rechtzeitig telefonisch, sobald sie abschätzen können, dass Sie den Termin nicht wahrnehmen oder pünktlich sein können.  Wir besprechen daraufhin ganz individuell das weitere Vorgehen. Nur so können wir gewährleisten, dass ein reibungsloser Ablauf mit einem guten Zeitmanagement und kurzen Wartezeiten in unserer Praxis stattfindet. 
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Darf ich im Falle von Beschwerden ohne Termin kommen?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Bitte rufen Sie uns in Schmerzfällen an, da wir täglich reservierte Zeitfenster dafür haben. 
              In dringenden Notfällen außerhalb unserer Sprechzeiten erreichen Sie den Zahnärztlichen Notdienst unter folgender Telefonnummer: 0180 5986700
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Besteht die Möglichkeit einer Finanzierung meiner Rechnung?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Sprechen Sie uns gerne in einem vertraulichen Gespräch auf die Finanzierungsmöglichkeiten in unserer Praxis an und wir finden sicherlich eine sorgenfreie und passende Lösung für Sie. 
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Ab wann sollte mein Kind zur Kontrolle in die Praxis kommen?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Damit wir auch unseren jüngsten Patient:innen von Anfang an unbeschwerte Zahnarztbesuche ermöglichen können, vereinbaren Sie für Ihr Kind ab dem ersten Zahn einen kurzen Kontrolltermin und wir vermitteln spielerisch, dass ein Zahnarztbesuch etwas Positives sein wird. Vielleicht findet sich ja nach dem Termin etwas Spannendes in unserer Schatztruhe? 
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Wie lange darf ich nach einer Behandlung nichts essen oder trinken?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Das hängt individuell von der jeweiligen Behandlung ab.<br> 
              Wenn eine Stelle betäubt wurde, warten Sie mit dem Essen am besten, bis die Betäubung nachlässt und trinken Sie erstmal nichts Heißes, da Verletzungs- bzw. Verbrennungsgefahr besteht. Ein kaltes Wasser ist kein Problem!
              <br><br> 
              Neue Füllungen und eingesetzter Zahnersatz sind unmittelbar nach der Behandlung belastungsfähig. 
              <br><br>
              Ihre behandelnde Zahnärztin/ihr behandelnder Zahnarzt klärt sie nach jeder Behandlung über die Verhaltensweisen nach dem Besuch bei uns auf. 
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Was mache ich im Falle einer Nachblutung nach einem chirurgischen Eingriff?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Geben Sie Ihrem Körper erstmal Ruhe! 
              <br><br> 
              Verzichten Sie auf schwere körperliche Tätigkeiten sowie auf Alkohol, Nikotin, sowie starken Kaffee. 
              <br><br>
              Um die Verletzung von Weichgewebe zu vermeiden, warten Sie am besten mit dem Essen, bis die Betäubung nachlässt. 
              <br><br>
              Sollten dennoch Nachblutungen auftreten, beißen Sie für ca. 30min auf sterile Mulltupfer oder ein sauberes Stofftaschentuch (kein Papier). Des Weiteren versuchen Sie eine möglichst aufrechte Körperhaltung einzunehmen, sowie die Wangen und den Nacken zu kühlen. 
              Sollte die Blutung dennoch anhalten, melden Sie sich bei uns in der Praxis oder wenden sich außerhalb der Sprechzeiten an den Zahnärztlichen Notdienst unter folgender Telefonnummer: 0180 5986700  
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Ich habe regelmäßiges Zahnfleischbluten. Was kann ich tun?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Zahnfleischbluten kann unterschiedliche Ursachen haben. Die häufigste Ursache ist eine mangelnde Mundhygiene, welche zu einer Zahnfleischentzündung (Gingivitis) der betroffenen Stellen im Mund führt. Des Weiteren können andere Faktoren wie beispielsweise das Rauchen, überkonturierter Zahnersatz, allgemeine Vorerkrankungen wie Diabetes oder eine unausgewogene Ernährung das Zahnfleischbluten begünstigen. 
              <br><br>
              Es ist wichtig, eine gute häusliche Mundhygiene zu haben und regelmäßig zur professionellen Zahnreinigung sowie zur allgemeinen Kontrolle in unsere Praxis zu kommen. Bei diesem Termin beraten wir Sie individuell hinsichtlich Ihrer Mundgesundheit.<br>
              Da sich diese Zahnfleischentzündung in Richtung Parodontitis (Erkrankung des gesamten Zahnhalteapparats mit den Folgen von Knochenabbau bis hin zur Zahnlockerung) entwickeln kann, ist es von großer Bedeutung, diese Zahnfleischentzündung rechtzeitig zu erkennen und zu behandeln. 
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">An wen wende ich mich, wenn ich außerhalb der Praxiszeiten starke Schmerzen habe?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              In dringenden Notfällen außerhalb unserer Sprechzeiten erreichen Sie den Zahnärztlichen Notdienst unter folgender Telefonnummer: 0180 5986700
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Was mache ich, wenn mir ein Zahn abbricht?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Bei Beschwerden wie beispielsweise einem abgebrochenen Zahn können sie uns während der Sprechzeiten telefonisch erreichen und wir finden einen zeitnahen Termin, um sie zu versorgen. Außerhalb unserer Sprechzeiten erreichen Sie den Zahnärztlichen Notdienst in dringenden Notfällen unter folgender Telefonnummer: 0180 5986700
            </p>
          </div>
        </div>

      </div><!-- .accordion-container -->


    </div><!-- .item_2 -->

  </div><!-- .wrapper -->

</section>

{% include "partials/cta__questions.njk"%}
