---
title: Flexible Öffnungszeiten

eleventyNavigation:
  key: flexible-oeffnungszeiten
  order: 4

layout: "layouts/base.njk"

seoTitle: Flexible Öffnungszeiten
seoDescription:
metaImage:
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">{{ title }}</span>
      <p class="copy_intro" data="fade-up delay">Lorem Ipsum</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="stndrt">

  <div class="wrapper">

    <div class="item_1 sxty">

      Durch unsere flexiblen Öffnungszeiten bieten wir Ihnen die Möglichkeit, einen Termin zu finden, der ganz ohne Stress und Zeitdruck zu Ihrem persönlichen Terminkalender passt. 
      <br><br>
      Unsere Behandlungszeiten im Überblick:<br><br>

      <span class="meta_informations__item" data="fade-up">
        <ul class="oeffnungszeiten">
          <li><span><strong>Mo, Di, Do:</strong></span> <span class="zeit">7.00-20.00 Uhr</span></li>
          <li><span><strong>Mi:</strong></span> <span class="zeit">7.30-18.00 Uhr</span></li>
          <li><span><strong>Fr:</strong></span> <span class="zeit">7.00-14.00 Uhr</span></li>
        </ul>
      </span><!-- .meta_informations__item -->
      <br><br>
      <strong>Bitte beachten Sie, dass unsere telefonischen Sprechzeiten von den Behandlungszeiten abweichen können.</strong>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>
