---
title: Impressum

layout: "layouts/base.njk"
---

<section class=" fond impressum">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Lorem Ipsum</span>
      <p class="copy_intro" data="fade-up delay">{{ title }}</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section>

  <div class="wrapper">
    <p>Dieses Impressum gilt auch für unsere Präsenzen auf anderen Webseiten.</p>

    <h3>Flichtangaben nach § 5 TMG und § 55 RSTV</h3>

    <p>
      Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis <br>
      Lochnerstraße 43 <br>
      40878 Ratingen
      <br> <br>
      Telefon: 0 21 02 . 84 73 73 <br>
      Telefax: 0 21 02 . 87 08 05 <br>
      E-Mail: praxis@zahnaerzte-in-ratingen.de<br>
      Internet: www.zahnaerzte-in-ratingen.de<br>
      <br> <br>
      Rechtsform: GbR
    </p>

    <h3>Journalistisch-Redaktionelle Verantwortung</h3>

    <p>Sofern nicht anders vermerkt liegt die journalistisch-redaktionelle Verantwortung bei Dr. Astrid Schwan-Wilhelmy und Dr. Matthias Bareis. Gemäß § 28 BDSG widersprechen wir jeder kommerziellen Verwendung und Weitergabe unserer Daten.</p>

    <h3>Kontakt</h3>

    <p>
      Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis<br>
      Lochnerstraße 43<br>
      40878 Ratingen<br>
      <br><br>
      Telefon: 0 21 02 . 84 73 73<br>
      Telefax: 0 21 02 . 87 08 05<br>
      E-Mail: praxis@zahnaerzte-in-ratingen.de<br>
      Internet: www.zahnaerzte-in-ratingen.de
    </p>

    GESETZLICHE BERUFSBEZEICHNUNG

    Zahnarzt

    Dr. Astrid Schwan-Wilhelmy
    Zahnarzt, Erwerb der Approbation 1982 in Mainz

    Dr. Matthias Bareis
    Zahnarzt, Erwerb der Approbation 1982 in Mainz

    ZUSTÄNDIGE BEHÖRDE

    Zahnärztekammer Nordrhein
    Körperschaft des öffentlichen Rechts
    Emanuel-Leutze-Straße 8
    40547 Düsseldorf
    Tel.: 0211 / 44704-0
    Fax: 0211 / 44704-406
    E-Mail: info@zaek-nr.de
    Internet: www.zahnaerztekammernordrhein.de

    Kassenzahnärztliche Vereinigung Nordrhein
    Körperschaft des öffentlichen Rechts
    40181 Düsseldorf
    Besucheradresse:
    Lindemannstraße 34–42
    40237 Düsseldorf
    Tel.: 0211-96840
    E-Mail: info@kzvnr.de
    Internet: www.kzvnr.de

    BERUFSRECHTLICHE REGELUNGEN

    Sozialgesetzbuch, Fünftes Buch (SGB V) - Gesetzliche Krankenversicherung
    Zulassungsverordnung für Vertragszahnärzte (Zahnärzte-ZV)

    Gesetz über die Ausübung der Zahnheilkunde (ZHG)
    Zahnheilkundegesetz
    Anlage zum Zahnheilkundegesetz

    Approbationsordnung für Zahnärzte (ZappO)
    Approbationsordnung
    Gebührenordnung für Zahnärzte
    Heilmittelwerbegesetz

    LANDESSPEZIFISCHE REGELUNGEN (NRW)

    Berufsordnung für Zahnärzte/Zahnärztinnen
    Heilberufe-Kammergesetz

    BILDNACHWEIS

    Folgende Bilder wurden uns freundlicherweise von Biewer medical Medizinprodukte, Koblenz zur Verfügung gestellt:
    lachgas-768x512

    Folgende Bilder wurden von der Fotografin Jacqueline Wardeski (www.wardeski.com) angefertigt:
    Dr_Astrid_Schwan-Wilhelmy.jpg, Dr_Matthias_Bareis.jpg, Julia_Wilhelmy.jpg, Miriam.jpg, Jenny.jpg, Sandra.jpg, Nadine.jpg, Jasmin.jpg, Nicol.jpg, Claudia.jpg, Karolina.jpg, Laura.jpg, Birgit.jpg, Fabienne.jpg, Team.jpg, visual_startseite_1920_bis_720.jpg

    URHEBERRECHT

    Die auf dieser Webseite veröffentlichten Inhalte und Werke (u.a. Bilder) unterliegen dem deutschen Urheberrecht. Jede Bearbeitung, Verbreitung, Vervielfältigung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechts bedürfen der vorherigen schriftlichen Zustimmung des jeweiligen Urhebers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit Inhalte dieser Seite von Dritten erstellt wurden, wird auch hier das Urheberrecht beachtet. Sollten dennoch Inhalte mit Rechtsverletzungen vorhanden sein, bitte geben Sie mir einen entsprechenden Hinweis. Diese Inhalte werden bei Kenntnisnahme umgehend entfernt.

    HAFTUNGSBESCHRÄNKUNG FÜR EIGENE INHALTE

    Die Inhalte dieser Webseite wurden sorgfältig und nach bestem Gewissen erstellt. Für die Aktualität, Vollständigkeit, Richtigkeit und Qualität sämtlicher Seiten kann keine Gewähr übernommen werden. Gemäß § 7 Abs. 1 TMG sind Diensteanbieter für ihre eigenen Inhalte auf Webseiten nach den allgemeinen Gesetzen verantwortlich. Jedoch sind Diensteanbieter nach den §§ 8 bis 10 TMG nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf rechtswidrige Tätigkeiten hinweisen. Ab dem Zeitpunkt der Kenntnis über konkrete Rechtsverletzungen erfolgt umgehend eine Entfernung dieser Inhalte. Erst ab dem Zeitpunkt der Kenntniserlangung kann diesbezüglich eine Haftung übernommen werden.
    Haftungsansprüche gegen die Autoren, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens der Autoren kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Die Autoren behalten es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.

    HAFTUNGSBESCHRÄNKUNG FÜR EXTERNE INHALTE

    Diese Webseite enthält Verknüpfungen zu Webseiten Dritter (externe Links). Hier haben wir keinen Einfluss auf deren Inhalte und übernehmen somit keine Gewähr. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für die Richtigkeit und Inhalt der jeweiligen verlinkten Webseite ist der Informationsanbieter verantwortlich. Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße erkennbar. Wenn hier eine Rechtsverletzung bekannt wird, wird der jeweilige Link entfernt.

    RECHTSWIRKSAMKEIT DIESES IMPRESSUMS (SALVATORISCHE KLAUSEL)

    Dieses Impressum ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.

    HINWEIS ZUM ALLGEMEINEN GLEICHBEHANDLUNGSGESETZ

    Auf Grund der leichteren Lesbarkeit wird auf eine geschlechterspezifische Differenzierung verzichtet. Entsprechende Begriffe gelten im Sinne der Gleichbehandlung für beide Geschlechter.

    VERBRAUCHERSTREITBEILEGUNG

    Im Hinblick auf eine Verpflichtung aus §§ 36, 37 VSBG setzen wir unsere Patienten über Folgendes in Kenntnis:
    Unsere Praxis ist nicht zur Teilnahme an einem außergerichtlichen Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle verpflichtet und nimmt auch an einem außergerichtlichen Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nicht teil.
    Bestehen Streitigkeiten aus dem Behandlungsverhältnis mit unserer Praxis besteht die Möglichkeit eines außergerichtlichen Schlichtungsverfahrens vor der Zahnärztekammer Nordrhein.

    [/et_pb_text][et_pb_text admin_label="Impressum neu nach DSGVO" background_layout="light" text_orientation="left" text_font_size="14" use_border_color="off" border_color="#ffffff" border_style="solid" disabled="on"]

    gem. §5 des Telemediengesetzes (TMG)

    Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis
    Lochnerstraße 43
    40878 Ratingen

    Telefon: 0 21 02 . 84 73 73
    Telefax: 0 21 02 . 87 08 05
    praxis@zahnaerzte-in-ratingen.de
    www.zahnaerzte-in-ratingen.de

    Inhaltlich Verantwortlicher gemäß § 10 Absatz 3 MDStV oder § 5 TMG:
    Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis (Anschrift wie oben)

    Gesetzliche Berufsbezeichnung:
    Zahnarzt

    Verleihender Staat:
    Bundesrepublik Deutschland

    Zuständige Kammer:
    Zahnärztekammer Nordrhein
    Emanuel-Leutze-Straße 8
    40547 Düsseldorf-Lörick
    Internet: www.zahnaerztekammernordrhein.de

    Zuständige Aufsichtsbehörde:
    Bezirksregierung Düsseldorf
    Cecilienallee 2
    40474 Düsseldorf
    Telefon: 0211 475-0

    Vertragszahnärztliche Versorgung:
    Kassenzahnärztliche Vereinigung Nordrhein
    Lindemannstraße 34-42
    40237 Düsseldorf
    Tel.: 0211-96840
    Internet: www.kzvnr.de

    Berufsrechtliche Regelungen:
    Zahnheilkundegesetz
    www.gesetze-im-internet.de/zhg/BJNR002210952.html
    www.zahnaerztekammernordrhein.de/fileadmin/user_upload/Zahnheilkundegesetz_07.2016.pdf

    Gebührenordnung für Zahnärzte (GOZ)
    www.gesetze-im-internet.de/goz_1987/

    Heilberufsgesetz NRW
    https://recht.nrw.de/lmi/owa/br_text_anzeigen?v_id=10000000000000000065

    Berufsordnung der Zahnärztekammer Nordrhein
    recht.nrw.de/lmi/owa/br_bes_text?anw_nr=1&gld_nr=2&ugl_nr=2123&bes_id=8767&val=8767&ver=7&sg=&aufgehoben=N&menu=1
    oder
    www.zahnaerztekammernordrhein.de/fileadmin/user_upload/downloads2015/Berufsordnung_2007.pdf

    Weiterbildungsordnung der Zahnärztekammer Nordrhein
    https://recht.nrw.de/lmi/owa/br_bes_text?anw_nr=1&gld_nr=2&ugl_nr=2123&bes_id=303&val=303&ver=7&sg=&aufgehoben=N&menu=1

    www.gesetze-im-internet.de
    https://recht.nrw.de

    Medizinische Informationen:
    Der Inhalt dieser Seite ist ausschließlich zur einführenden Information bestimmt. Die aufgeführten Informationen ersetzen nicht die persönliche Beratung durch den Zahnarzt.

    Umsatzsteuer-ID:
    keine Angabe, weil nur in minimalem Umfang Behandlungen ohne medizinische Indikation angeboten werden.

    Haftungsausschluss

    Haftung für Inhalte
    Die Inhalte meiner Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich jedoch keine Gewähr übernehmen. Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG bin ich jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen.

    Haftung für Links
    Mein Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar.

    Urheberrecht
    Die durch mich erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht von mir erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werde ich die entsprechenden Inhalte umgehend entfernen.

    Bildnachweis:
    Folgende Bilder wurden uns freundlicherweise von Biewer medical Medizinprodukte, Koblenz zur Verfügung gestellt:
    lachgas-768x512

    Folgende Bilder wurden von der Fotografin Jacqueline Wardeski (www.wardeski.com) angefertigt:
    Dr_Astrid_Schwan-Wilhelmy.jpg, Dr_Matthias_Bareis.jpg, Julia_Wilhelmy.jpg, Miriam.jpg, Jenny.jpg, Sandra.jpg, Nadine.jpg, Jasmin.jpg, Nicol.jpg, Claudia.jpg, Karolina.jpg, Laura.jpg, Birgit.jpg, Fabienne.jpg, Team.jpg, visual_startseite_1920_bis_720.jpg

    [/et_pb_text][et_pb_text admin_label="vor 25.05.2018 Impressum old" background_layout="light" text_orientation="left" text_font_size="14" use_border_color="off" border_color="#ffffff" border_style="solid" disabled="on"]

    Name:

    Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis




    Anschrift:

    Lochnerstraße 43
    40878 Ratingen

    Telefon: 0 21 02 . 84 73 73
    Telefax: 0 21 02 . 87 08 05

    praxis@zahnaerzte-in-ratingen.de




    Weitere Angaben

    Inhaltlich Verantwortliche gemäß § 10 Absatz 3 MDStV: Dr. Astrid Schwan-Wilhelmy, Dr. Matthias Bareis (Anschrift wie oben)




    Berufsbezeichnung:

    Dr. Astrid Schwan-Wilhelmy: Zahnarzt (verliehen in der Bundesrepublik Deutschland)
    Dr. Matthias Bareis: Zahnarzt (verliehen in der Bundesrepublik Deutschland)




    Zuständige Aufsichtsbehörde:

    Kassenzahnärztliche Vereinigung Nordrhein Lindemannstraße 34-42, 40237 Düsseldorf




    Zuständige Kammer:

    Zahnärztekammer Nordrhein Emanuel-Leutze-Straße 8, 40547 Düsseldorf




    Berufsrechtliche Regelungen:

    Zahnheilkundegesetz Berufsordnung der Zahnärztekammer Nordrhein Heilberufsgesetz NRW Gebührenordnung für Zahnärzte (GOZ) Approbationsordnung für Zahnärzte zugänglich unter: Zahnärztekammer Nordrhein, Emanuel-Leutze-Straße 8, 40547 Düsseldorf




    Haftungsausschluss:

    Trotz sorgfältiger Kontrolle übernehmen wir keinerlei Haftung für die Inhalte externer Links. Für die Inhalte der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. Die Angaben auf dieser Seite werden ständig gepflegt. Wir übernehmen gleichwohl keine Haftung für die Richtigkeit, Aktualität und Vollständigkeit der dort gemachten Angaben, den Wortlaut sowie die Geltung der eingestellten Rechtsvorschriften. Es gilt stets die aktuelle, amtliche Fassung, wie sie im dafür vorgesehenen offiziellen Verkündungsorgan veröffentlicht ist.




    Kommunikation über E-Mail:

    Allgemeine Anfragen per E-Mail werden beantwortet bzw. an die sachlich zuständige Stelle weitergeleitet. Kommunikation über E-Mail kann Sicherheitslücken aufweisen. E-Mails können auf ihrem Weg aufgehalten und eingesehen werden. Hierfür übernehmen wir keine Haftung. Sollten wir eine E-Mail von Ihnen erhalten, so gehen wir davon aus, dass wir zu einer Beantwortung per E-Mail berechtigt sind. Ansonsten müssen wir Sie ausdrücklich auf eine andere Art der Kommunikation verweisen.
  </div><!-- .wrapper -->

</section>
