---
title: Home
layout: "layouts/base.njk"

seoTitle: Herzlich Willkommen in unserer Zahnarztpraxis.
seoDescription: Wir verstehen uns als Familienpraxis, die sie von klein auf bis ins hohe Alter auf den neusten wissenschaftlichen Erkenntnissen zahnmedizinisch betreut.
metaImage:
---

<section class="hero lax">

  <div class="wrapper">
    <p class="greetings">Willkommen.</p>
  </div><!-- .wrapper -->

  {% picture "home_hero_01.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper grd">

    <span class="topline" data="fade-up">Herzlich Willkommen in unserer Zahnarztpraxis.</span>
    <p class="copy_intro" data="fade-up">Sie suchen einen guten Zahnarzt in Ratingen? Seit über 30 Jahren und bereits in zweiter Generation sind wir für Sie als Zahnärzte im Zentrum von Ratingen/ nahe Düsseldorf für Sie tätig.</p>
    <p class="copy" data="fade-up delay">Wir verstehen uns als Familienpraxis, die sie von klein auf bis ins hohe Alter nach den neusten wissenschaftlichen Erkenntnissen zahnmedizinisch betreut.<br>Moderne Zahnheilkunde, vertrauensvolle Zusammenarbeit, individuelle Behandlungskonzepte – dafür stehen wir als Zahnarztpraxis. 
    <br>Unser Ziel ist es ihr strahlendes Lächeln bis ins hohe Alter zu erhalten. 
    <br><br>Ihre individuellen Bedürfnisse und sie als Patient stehen bei uns im Mittelpunkt. Ihre Zahngesundheit ist uns wichtig.</p>

  </div><!-- .wrapper -->

</section>


<section class="praxis_teaser">

  <div class="wrapper grd">

    <div class="item_1 rnd" data="fade-up">
      {% picture "visual-1.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
    </div><!-- .item_1 -->

    <div class="item_2 rnd" data="fade-up delay">
      {% picture "visual-2.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
    </div><!-- .item_2 -->

    <div class="item_3" data="fade-up">
      <span class="topline">Praxis</span>
      <p class="copy_intro">Sie stehen als Patient mit ihren individuellen Bedürfnissen im Mittelpunkt. Ob jung oder alt, Angstpatient oder zahnarzterfahren bei uns sind sie in guten Händen.</p>
      <button class="btn btn_red" onclick="location.href='/uebersicht-praxis/'" type="button">Mehr erfahren</button>
    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>


<section class="quote">

  <div class="wrapper">

    <svg class="ww_quote" alt="Quotation Marks">
      <use xlink:href="#ww_quote"></use>
    </svg>

    <p class="quote_line">Ein schönes Lächeln erleichtert das Leben und verbindet uns mit anderen Menschen.</p>

  </div><!-- .wrapper -->

</section>


<section class="teaser_tiles_leistungen">

  <div class="wrapper">

    <div class="item_1">
      <span class="topline" data="fade-up">Leistungen</span>
      <p class="copy_intro" data="fade-up delay">Wir stehen für gute und moderne Zahnheilkunde in Ratingen.
        Dank neuster Technologie und regelmäßiger Fortbildung können wir ihr kompetenter Ansprechpartner sein, der Ihnen zu einem strahlenden Lächeln verhilft.
        <br><br>
        Wir bieten Ihnen ein breites Behandlungsspektrum an. Beginnend bei der Vorsorge durch professionelle Zahnreinigung, über Zahnerhalt- und rekonstruktion durch Füllungen, Inlays oder Kronen, sowie Wurzelbehandlungen und Parodontitisbehandlung bis hin zu komplettem Zahnersatz durch Implantate.
</p>
    </div><!-- .item_1 -->

    <div class="item_2">
      <div data="fade-up">
        {% picture "leistungen-teaser_1.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Ästhetische Zahnmedizin</h3>
        <p class="copy" data="fade-up delay">Einer unserer großen Schwerpunkte ist die ästhetische Zahnheilkunde.</p>
        <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Mehr erfahren</button>
      </div>

    </div><!-- .item_2 -->

    <div class="item_3">
      <div data="fade-up">
        {% picture "leistungen-teaser_2.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Prophylaxe & Zahnreinigung</h3>
        <p class="copy" data="fade-up delay">Schöne und vor allem gesunde Zähne ein Leben lang durch Vorsorge.</p>
        <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Mehr erfahren</button>
      </div>
    </div><!-- .item_3 -->

    <div class="item_4">
      <div data="fade-up">
        {% picture "leistungen-teaser_3.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Zahnerhaltung</h3>
        <p class="copy" data="fade-up delay">Zur Zahnerhaltung gehören alle Maßnahmen, die verloren gegangene Substanz ersetzen und wiederherstellen.</p>
        <button class="btn btn_red" onclick="location.href='/leistungen'" type="button" data="fade-up">Mehr erfahren</button>
      </div>
    </div><!-- .item_4 -->

    <div class="item_5" data="fade-up">
      <button class="btn btn_red" onclick="location.href='/leistungen'" type="button">Alle Leistungen</button>
    </div><!-- .item_4 -->

  </div><!-- .wrapper -->

</section>


{% include "partials/credo_teaser.njk" %}

{% include "partials/quotes_slider.njk" %}

{% include "partials/impressions_slider.njk" %}

{% include "partials/card_slider.njk" %}

{% include "partials/languages.njk" %}
