---
title: Home
layout: "layouts/base.njk"
---

<section class="hero lax">

  <div class="wrapper">
    <p class="greetings">Willkommen.</p>
  </div><!-- .wrapper -->

  {% picture "home_hero_01.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper grd">

    <span class="topline" data="fade-up">Schön, dass sie da sind.</span>
    <p class="copy_intro" data="fade-up">Damit Sie ein strahlendes Lächeln bis ins hohe Alter bewahren können, sind wir mittlerweile seit über 30 Jahren stets bemüht Sie bestens zu betreuen und zu behandeln.</p>
    <p class="copy" data="fade-up delay">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

  </div><!-- .wrapper -->

</section>


<section class="praxis_teaser">

  <div class="wrapper grd">

    <div class="item_1 rnd" data="fade-up">
      {% picture "visual-1.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
    </div><!-- .item_1 -->

    <div class="item_2 rnd" data="fade-up delay">
      {% picture "visual-2.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
    </div><!-- .item_2 -->

    <div class="item_3" data="fade-up">
      <span class="topline">Praxis</span>
      <p class="copy_intro">Lernen Sie unsere Praxis kennen: Das Team unser Behandlungskonzept und erfahren Sie, warum wir die Richtigen für Sie sind.</p>
      <button class="btn btn_red" onclick="location.href='/praxis'" type="button">Mehr erfahren</button>
    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>


<section class="quote">

  <div class="wrapper">

    <svg class="ww_quote" alt="Quotation Marks">
      <use xlink:href="#ww_quote"></use>
    </svg>

    <p class="quote_line">Ein schönes Lächeln erleichtert das Leben und verbindet uns mit anderen Menschen.</p>

  </div><!-- .wrapper -->

</section>


<section class="teaser_tiles_leistungen">

  <div class="wrapper">

    <div class="item_1">
      <span class="topline" data="fade-up">Leistungen</span>
      <p class="copy_intro" data="fade-up delay">Wir glauben an lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    </div><!-- .item_1 -->

    <div class="item_2">
      <div data="fade-up">
        {% picture "leistungen-teaser_1.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Leistung 1</h3>
        <p class="copy" data="fade-up delay">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        <button class="btn btn_red" onclick="location.href='/praxis'" type="button" data="fade-up">Mehr erfahren</button>
      </div>

    </div><!-- .item_2 -->

    <div class="item_3">
      <div data="fade-up">
        {% picture "leistungen-teaser_2.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Leistung 2</h3>
        <p class="copy" data="fade-up delay">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        <button class="btn btn_red" onclick="location.href='/praxis'" type="button" data="fade-up">Mehr erfahren</button>
      </div>
    </div><!-- .item_3 -->

    <div class="item_4">
      <div data="fade-up">
        {% picture "leistungen-teaser_3.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Leistung 3</h3>
        <p class="copy" data="fade-up delay">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        <button class="btn btn_red" onclick="location.href='/praxis'" type="button" data="fade-up">Mehr erfahren</button>
      </div>
    </div><!-- .item_4 -->

    <div class="item_5" data="fade-up">
      <button class="btn btn_red" onclick="location.href='/leistungen'" type="button">Alle Leistungen</button>
    </div><!-- .item_4 -->

  </div><!-- .wrapper -->

</section>


<section class="credo_teaser">

  <div class="wrapper">

    <h3 class="wht" data="fade-up delay">Drei Gründe die für uns sprechen.</h3>

    <div class="item_1" data="fade-up">
      <svg class="ww_tools" alt="Quotation Marks">
        <use xlink:href="#ww_tools"></use>
      </svg>
      <h6>Auf dem neuesten Stand</h6>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    </div><!-- .item_1 -->

    <div class="item_2" data="fade-up">
      <svg class="ww_process" alt="Quotation Marks">
        <use xlink:href="#ww_process"></use>
      </svg>
      <h6>Effiziente Prozesse</h6>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    </div><!-- .item_2 -->

    <div class="item_3" data="fade-up">
      <svg class="ww_smile" alt="Quotation Marks">
        <use xlink:href="#ww_smile"></use>
      </svg>
      <h6>Immer mit einem Lächeln</h6>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    </div><!-- .item_3 -->

    <div class="item_4" data="fade-up delay">
      <button class="btn btn_wht" onclick="location.href='/'" type="button">Unser Behandungskonzept</button>
    </div><!-- .item_4 -->


  </div><!-- .wrapper -->

</section>

{% include "partials/quotes_slider.njk" %}

{% include "partials/impressions_slider.njk" %}

{% include "partials/card_slider.njk" %}

{% include "partials/languages.njk" %}
