---
title: Kontakt & Anfahrt

eleventyNavigation:
  key: Kontakt & Anfahrt
  order: 4

layout: "layouts/base.njk"

seoTitle: Kontakt & Anfahrt
seoDescription:
metaImage:
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">{{ title }}</span>
      <p class="copy_intro" data="fade-up delay">Lorem Ipsum</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="anfahrt-kontakt_content">

  <div class="wrapper">

    <div class="item_1 sxty">
      <h6>Gemeinschaftspraxis Dr. Astrid Schwan-Wilhelmy und Dr. Matthias Bareis</h6>
      Lochnerstraße 43<br>
      40878 Ratingen<br>
      <br>
      Telefon: 0 21 02 . 84 73 73<br>
      Telefax: 0 21 02 . 87 08 05<br>
      <br>
      <a class="link" href="mailto:praxis@zahnaerzte-in-ratingen.de">praxis@zahnaerzte-in-ratingen.de</a>
      <br><br>

      Für unsere Patienten bieten wir reservierte Parkplätze beidseitig vor der Schranke (siehe <a href="https://www.zahnaerzte-in-ratingen.de/kontakt/#map" target="_blank" rel="nofollow noopener">Karte</a>), sowie Parkmöglichkeiten im Wendeplatz am Ende der Lochnerstraße an.<br>
      <br>
      Die beiden Straßenbahnhaltestellen „Europaring“ und „Gerhardstrasse“ sowie die Bushaltestelle „Europaring“ liegen in unmittelbarer Nähe zu unserer Zahnarztpraxis.

    </div><!-- .item_1 -->

    <div class="item_2 sxty">
      <span>
        <h6>Wir sind gerne für Sie da:</h6>
      </span>
      <span>
        <p>
          Mo, Di, Do: 7.30-19.30 Uhr<br>
          Mi: 7.30-18.00 Uhr<br>
          Fr: 7.30-14.00 Uhr<br>
          <br>
          und zusätzlich nach Vereinbarung.
        </p>
      </span>

      <span>
        <p>
          In Schmerzfällen rufen Sie uns bitte an, da wir dafür spezielle Zeiten für Sie reserviert haben.<br>
          <br>
          Außerhalb unserer Praxisöffnungszeiten erreichen Sie den Notdienst unter:<br>
          <span class="rd50"><strong>0180-59 86 700</strong></span>
        </p>
      </span>

    </div><!-- item_2 -->

  </div><!-- .wrapper -->

</section>
