---
title: Kontakt & Anfahrt

eleventyNavigation:
  key: Kontakt & Anfahrt
  order: 4

layout: "layouts/base.njk"

seoTitle: Kontakt & Anfahrt
seoDescription: "Kontakt & Anfahrt zu unserer Zahnarztpraxis in Ratingen: Adresse, Telefonnummer, E-Mail und Anreiseinfos mit Auto oder öffentlichen Verkehrsmitteln."
metaImage: 1200/kontakt_hero_01.jpg
---

<section class="hero lax">

  {% heroImage "kontakt_hero_01.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich" %}

</section><!-- .hero -->


<section class="anfahrt-kontakt_content">

  <div class="wrapper">
    
    

    <div class="item_1 sxty">

      <span class="topline" data="fade-up">{{ title }}</span>

      <!--<p class="copy_intro" data="fade-up delay">{{ title }}</p>-->

      <h6>Zahnarztpraxis Wilhelmy-Wunderlich und Team</h6>
      Lochnerstraße 43<br>
      40878 Ratingen<br>
      <br>
      Telefon: 0 21 02 . 84 73 73<br>
      Telefax: 0 21 02 . 87 08 05<br>
      
      <br>
      <a class="link" href="mailto:praxis@zahnaerzte-in-ratingen.de">praxis@zahnaerzte-in-ratingen.de</a>

    </div><!-- .item_1 -->

    <div class="item_2 sxty">
      <span>
        <h6>Öffnungszeiten:</h6>
      </span>
      <span>
        <p>
          Mo, Di, Do: 7.00-20.00 Uhr<br>
          Mi: 7.30-18.0 Uhr<br>
          Fr: 7.00-14.00 Uhr<br>
          <br>
          Termine nach Vereinbarung.
        </p>
      </span>

      <span>
        <p>
          Bitte beachten Sie, dass unsere telefonischen Sprechzeiten von unseren Behandlungszeiten abweichen können.<br>
          <br>
          Bitte rufen Sie uns in Schmerzfällen vorab an, da wir reservierte Zeitfenster dafür haben.<br>
          In dringenden Notfällen außerhalb unserer Sprechzeiten erreichen Sie den Zahnärztlichen Notdienst unter folgender Telefonnummer:<br> <span class="rd50"><strong>0180 598 67 00</strong></span>
        </p>
      </span>
      
    </div><!-- item_2 -->

  </div><!-- .wrapper -->

</section>
