---
title: Leistungen

eleventyNavigation:
  key: Leistungen
  order: 2

layout: "layouts/base.njk"

seoTitle: Leistungen
seoDescription: Unsere Praxis bietet Ihnen ein umfangreiches Behandlungsspektrum
metaImage:
---

<section class="hero lax">

  {% picture "ausstattung_01.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper">

    <div class="intro_content svnty">
      <span class="topline" data="fade-up">{{ title }}</span>

      <p class="copy_intro" data="fade-up delay">Lorem Ipsum dolor sit</p>

      <p class="ctr">Unsere Praxis bietet Ihnen ein umfangreiches Behandlungsspektrum. Auf Ihre individuellen Fragen gehen wir gerne in einem persönlichen Gespräch ein.</p>

    </div><!-- .intro_content -->

    <div class="accordion-container svnty">

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Zahnerhaltung: Füllungstherapie, Wurzelbehandlung</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            <h6>Füllungstherapie:</h6>
            Wenn ein Zahn durch Karies geschädigt wurde, muss die zerstörte Zahnsubstanz entfernt und durch eine Füllung ersetzt werden.
            Da wir seit vielen Jahren kein Amalgam mehr verarbeiten, werden wir Sie individuell beraten, abhängig vom entstandenen Ausmaß des Schadens. Sie haben die Wahl zwischen: speziellen Zementfüllungen, geschichteten, keramikverstärkten und eingeklebten Compositversorgungen und laborgefertigten Gold- oder Keramikinlays.
            <br><br>
            <h6>Wurzelbehandlungen:</h6>
            Wenn durch eine tiefe Karies Bakterien bereits in den Zahnnerv eingedrungen sind, müssen die Nervkanäle in den Zahnwurzeln gesäubert, desinfiziert und dicht aufgefüllt werden. Um den Erfolg der Behandlung zu verbessern, können wir neben der konventionellen Reinigung mit Handinstrumenten zusätzlich maschinell betriebene Systeme und Ultraschall einsetzen.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Hochwertiger Zahnersatz und Implantatversorgungen</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Sind Zähne verloren gegangen, führt dies bei den meisten Menschen zu Veränderungen im Gebiss. Benachbarte Zähne wandern oder kippen, gegenüber stehende Zähne verlängern sich, bei mehreren fehlenden Zähnen kommt es zur Verringerung des Abstandes zwischen Ober- und Unterkiefer (Bisssenkung). Für die individuelle Beratung und Planung Ihrer neuen Zähne nehmen wir uns viel Zeit. Wir können heute fehlende Zähne durch:
            <br><br>
            <ul class="bullets">
              <li>festsitzende Brücken auf den restlichen Zähnen</li>
              <li>Kronen und Brücken auf Implantaten (künstlichen Wurzeln),</li>
              <li>Teleskop- und Geschiebeprothesen</li>
            </ul>
            <br>
            ersetzen, um eine weniger komfortable „Klammerprothese“ zu vermeiden (siehe auch ästhetische Zahnheilkunde).
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Prophylaxe</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Auf das Angebot zur Prophylaxe wird in unserer Praxis besonderer Wert gelegt, denn die Vorbeugung kann bei minimalem Aufwand die Volkskrankheiten Karies und Parodontose bei konsequenter Anwendung ganz verhindern oder zumindest in kleinem Rahmen halten.
            <br><br>
            <h6>Halbjährliche Vorsorgeuntersuchung:</h6>
            Sie ist in diesem Zeitrahmen sinnvoll, denn eine Karies braucht etwa ein halbes Jahr, um zu entstehen. Mit dem Parodontoseindex kann eine beginnende Parodontitis sicher erkannt und vorbeugend behandelt werden.
            <br><br>
            <h6>Versiegelung der Zahnfissuren:</h6>
            Die Versiegelung der kariesfreien Grübchen in den Backenzähnen hat, wissenschaftlich belegt, zu einem immensen Rückgang der Erstkaries bei Kindern geführt. Nähere Informationen finden Sie hier.
            <br><br>
            <h6>Professionelle Zahnreinigung:</h6>
            Unser Wellnessprogramm für Zähne und Zahnfleisch wirkt vorbeugend gegen Parodontitis und auch Karies. Neben ausführlichen Informationen zu Ihrer individuellen Mundhygiene werden Ihre Zähne gründlich gereinigt, poliert und gehärtet, auch an Stellen, die sie selber beim täglichen Putzen nicht erreichen können. Nähere Informationen finden Sie <a href="http://www.bzaek.de/fileadmin/PDFs/pati/bzaekdgzmk/2_03_pzr.pdf" target="_blank" rel="noopener noreferrer nofollow">hier</a>.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Parodontologie</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Die Parodontologie ist die Wissenschaft vom Zahnhalteapparat.
            <br><br>
            <strong>Parodontitis</strong>, im Volksmund auch fälschlicherweise Parodontose genannt, ist eine Entzündung des Zahnbettes, verursacht durch die Ansammlung von bakteriellen Belägen, der sog. Plaque, und gehört mit der Gingivitis, der Zahnfleischentzündung, zu den am meisten verbreiteten chronischen Erkrankungen des Menschen. Allgemeinerkrankungen, wie z.B. Diabetes, Rauchen, Stress, bestimmte Medikamente und auch erbliche Veranlagung können die Erkrankung begünstigen. Da die in den Zahnfleischtaschen befindlichen Bakterien auch im Blutkreislauf zirkulieren, kann eine unbehandelte Parodontitis das Risiko für allgemeine Erkrankungen wie u.a. Herzinfarkt, Schlaganfall, Frühgeburten erhöhen.
            <br><br>
            <h6>Parodontalbehandlung:</h6>
            Nach gründlicher Voruntersuchung, um den Schweregrad der Erkrankung festzustellen, erfolgt die erforderliche Vorbehandlung in Form von professioneller Zahnreinigung und individuellen Informationen für eine verbesserte Mundhygiene. Nach einigen Wochen erfolgt unter lokaler Betäubung die Reinigung der noch vorhandenen tiefen Zahnfleischtaschen und die Glättung der Wurzeloberfläche. In einigen Fällen ist eine zusätzliche Gabe von speziellen Antibiotika nötig.
            Bei tiefen Knochendefekten ist ein Aufbau mit speziellen Knochenersatzmaterialien möglich.
            Nach Abschluss der Behandlung sind Nachkontrollen und professionelle Zahnreinigungen in regelmäßigen Abständen, sowie eine konsequente häusliche Mundhygiene für einen langfristigen Erfolg unbedingt erforderlich.
            <br><br>
            Die <strong>Parodontose </strong>ist der entzündungsfreie Rückgang von Zahnfleisch und Knochen. Dieser wird u. a. verursacht durch Zähneknirschen, falsche Zahnputztechnik, ungünstige Zahnbelastung, ungünstige Zugwirkung von einstrahlenden Bändern von Lippe und Wange.
            Die Therapie besteht in der Hauptsache im Auffinden und Vermeiden der Ursache. Freiliegende Zahnhälse können wir in bestimmten Fällen durch <strong>Bindegewebstransplantationen</strong> abdecken.
            Weitere Informationen finden Sie <a href="http://www.dgparo.de/" target="_blank" rel="noopener noreferrer nofollow">hier</a>.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Ästhetische Zahnheilkunde</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Welchen Eindruck wir von unserem Gegenüber haben, entscheiden wir innerhalb der ersten Sekunden. Dabei spielt das Gesicht eine herausragende Rolle. Als schön empfinden wir neben anderen Merkmalen eine harmonische Zahnreihe und weiße Zähne.
            <br><br>
            Schöne Zähne kann jeder haben!
            <br><br>
            Wer nicht von Natur mit diesen Merkmalen ausgestattet wurde, dem bieten wir zahlreiche Methoden, um unregelmäßige Zahnreihen und verfärbte Zähne wieder strahlend und regelmäßig aussehen zu lassen.
            <br><br>
            Zu unserem Behandlungsspektrum gehören:
            <br><br>
            <h6>Airflow-Behandlung</h6>
            Mit einem feinen Salz-Wasser-Luftgemisch werden die verfärbten Beläge (u.a. durch Nikotin, Kaffee und Tee entstanden) von den Zähnen abgestrahlt und anschließend poliert. Wir erreichen damit auch die schwierig zugänglichen Zwischenräume.
            <br><br>
            <h6>Aufhellung der Zähne: Bleachen</h6>
            Sind Verfärbungen hartnäckig oder als Folge von Zahnwurzelbehandlungen bei einzelnen Zähnen aufgetreten, hilft oftmals das fachmännische Bleachen (englisch = Bleichen). Wichtig ist uns, am Anfang der Bleichbehandlung alle Möglichkeiten und Risiken ausführlich mit Ihnen zu besprechen und Sie über die Erfolgsaussichten zu beraten.
            <br><br>
            <h6>Keramikverschalung: Veneers</h6>
            Wenn beschädigte, zu kurze, dauerhaft verfärbte oder leicht schief stehende Zähne das Problem sind, können diese mit Veneers stabilisiert und verschönert werden. Veneers sind hauchdünne Verblendschalen aus Keramik, die auf die Oberfläche der natürlichen Zähne geklebt werden. Sie werden vom Zahntechniker in Detailarbeit genau nach der vom Zahnarzt erstellten Abformung auf Maß hergestellt. Farbe und Oberflächenstruktur können mit modernen keramischen Werkstoffen am besten nachgeahmt werden, so dass sie nicht von den eigenen Zähnen zu unterscheiden sind.
            <br><br>
            <h6>Zerstörte Zahnsubstanz: zahnfarbene Füllungen und Kronen</h6>
            Als Alternative zu Amalgam oder Zementen bieten wir laborgefertigte Keramikinlays an, sowie geschichtete Kunststofffüllungen, die zu einem sehr hohen Prozentsatz mit Keramikpartikeln in Nanogröße gefüllt sind. Vorteile dieser Füllungsart sind: sie ist zahnfarben und nahezu unsichtbar, es kann sehr zahnschonend gearbeitet werden, da keine zusätzliche gesunde Zahnhartsubstanz zum Halt der Füllung entfernt werden muss. Kauflächen können natürlich gestaltet werden und bieten eine gute Kaustabilität. Allerdings ist sie mit einem deutlich höheren Zeitaufwand verbunden, als Füllungen aus Amalgam oder Zementen und nicht möglich bei Defekten, die weit unter das Zahnfleisch reichen. Zahnfarbene Kronen können wir auch metallfrei aus einer neuartigen zahnfarbenen Keramik anbieten.
            <br><br>
            <h6>Fehlende Zähne: implantatgetragener Zahnersatz, metallfreie zahnfarbene Brücken</h6>
            In Zusammenarbeit mit einem Kieferchirurgen können wir fehlende Zähne durch implantatgetragenen Zahnersatz ersetzen. Auch klassische oder metallfreie zahnfarbene Brücken aus Zirkonoxidkeramik zum Lückenschluss bieten wir an. Weitere Informationen finden Sie <a href="http://www.art-dental.net/" target="_blank" rel="nofollow noopener noreferrer">hier</a> und <a href="http://www.mr-dental-technik.de/" target="_blank" rel="nofollow noopener noreferrer">hier</a>.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Lachgas</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            <h6>Entspannt beim Zahnarzt durch Lachgas</h6>
            <span class="lachgas"><span>Um Ihnen Ihren Gang zu uns noch mehr zu erleichtern, bieten wir Ihnen ab sofort eine Behandlung unter Lachgas an.
            In den USA und einigen anderen Ländern gehört die Lachgasbehandlung seit vielen Jahren zum Alltag des Zahnarztes. Dadurch konnten viele Menschen Ihre Angst überwinden und ihr Lächeln wieder finden.</span>
              {% picture "lachgas-768x512.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}</span>
            <br><br>
            <h6>Vorteile der Lachgassedierung</h6>
            <ul class="bullets">
              <li>stressfreie und angenehme Behandlung</li>
              <li>reduziertes Schmerzempfinden</li>
              <li>Verringerung des Würgereizes</li>
              <li>auch bei Kindern sehr gut anwendbar</li>
              <li>Behandlungszeit wirkt deutlich verkürzt</li>
              <li>Fahrtüchtigkeit unmittelbar nach der Behandlung</li>
              <li>Sie bleiben während der gesamten Behandlung ansprechbar und „Herr/Frau der Lage“</li>
              <li>dadurch mögliche Vermeidung einer Vollnarkose</li>
            </ul>
            <br><br>
            <h6>Wie wirkt Lachgas?</h6>
            Lachgas wird frei im Blut transportiert, ohne sich mit den roten Blutkörperchen zu verbinden. Es wird nicht verstoffwechselt und zu beinahe 100 % über die Ausatmung wieder ausgeschieden. In der Zwischenzeit wirkt es im Zentralen Nervensystem. Es ruft einen Zustand kompletter körperlicher und seelischer Entspannung hervor, reduziert den Würgereiz und wirkt schmerzlindernd. Das Zeitempfinden lässt ebenso nach. Lachgas findet bereits seit über 100 Jahren Anwendung in der Medizin.
            <br><br>
            <h6>Wie sicher ist die Lachgasbehandlung?</h6>
            Die Lachgassedierung ist ein sichere lang erprobte Behandlung. Auch bei Kindern kann Sie problemlos durchgeführt werden. Es kam noch nie zu allergischen Reaktionen oder anderen Komplikationen.
            <br><br>
            Weitere Informationen finden Sie <a href="http://biewer-medical.com/" target="_blank" rel="nofollow noreferrer noopener">hier</a>.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Schienentherapie</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            <h6>Zähneknirschen (Bruxismus)</h6>
            Viele Menschen knirschen mit den Zähnen, ohne es zu wissen. Dabei wird der Zahnschmelz wie mit Schmirgelpapier abgeschliffen. Zudem leidet das Kiefergelenk, in den Kiefermuskeln kommt es zu Verspannungen, die auch in die weitere Umgebung ausstrahlen können. Zahnsubstanz geht im Laufe der Jahre verloren, die Zähne werden kürzer, es können Kopfschmerzen, Tinnitus und ein Knacken oder sogar Schmerzen im Kiefergelenk folgen. Ursachen sind oft Stress oder ungünstige Zahnkontakte.
            <br><br>
            Zur Entlastung der Kiefergelenke und Kaumuskeln, sowie zum Schutz der Zahnoberflächen können wir eine durchsichtige Schiene herstellen, eine sog. Knirscherschiene, die vor allem nachts getragen wird.
            <br><br>
            Weitere Informationen finden Sie <a href="http://www.cmdcheck.de/index.html" target="_blank" rel="nofollow noreferrer noopener">hier</a>.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Schnarchen</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Im Alter von 60 Jahren schnarchen 60 % aller Männer und 40 % aller Frauen, viele allerdings auch in jüngeren Jahren. Übergewicht, Alkoholkonsum, Verengungen im Nasen-Rachenraum verstärken die Ursachen. Nächtliches Schnarchen wird meist als sehr störend empfunden. Es beeinträchtigt sowohl den Schlaf des Partners, als auch die nächtliche Erholung des Schnarchenden und kann zu ernsthaften Erkrankungen führen. Oft wird das Schnarchen sogar durch zeitweiligen Schlafapnoe (Atemstillstand) begleitet.
            <br><br>
            Ursache ist eine erschlaffende Muskulatur der oberen Atemwege und eine Rückverlagerung des Unterkiefers und der Zunge.
            <br><br>
            Wir als Zahnärzte können als Behandlung eine sog. <strong>Schnarcherschiene </strong>anfertigen, bei der durch ein spezielles Gelenk der Unterkiefer im Schlaf nicht zurückfallen kann.
            <br><br>
            Weitere Informationen finden Sie <a href="http://www.tap-schiene.de/" target="_blank" rel="noreferrer nofollow noopener">hier</a>.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Kinderbehandlung</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Sie gehört zu einem der Schwerpunkte in unserer Praxis, da in jungen Jahren der Grundstein für ein Leben ohne Karies und Parodontitis gesetzt und konsequent weiterentwickelt werden kann. Oberstes Gebot ist eine Behandlung in Ruhe mit viel Zeit für die Kinder. Das Vertrauen Ihres Kindes steht im Mittelpunkt unseres Handelns. Dies in einer entspannten Atmosphäre zu gewinnen, ist der Schlüssel zu einem angstfreien Zahnarztbesuch.
            <br><br>
            Weitere Informationen finden Sie <a href="http://www.kariesvorbeugung.de/" target="_blank" rel="nofollow noreferrer noopener">hier</a>.
            <br><br>
            <h6>Beratung:</h6>
            wir beraten Eltern und ihre Kinder bei allen Fragen rund um gesunde Ernährung und die richtige Handhabung von kindgerechten Zahnpflegeprodukten.
            <br><br>
            <h6>Sanierung bereits kariöser Milchzähne:</h6>
            kariöse Defekte in Milchzähnen werden bei uns mit modernen weißen Compomerfüllungen therapiert.
            <br><br>
            <h6>Rechtzeitiger Hinweis auf Zahnregulierung:</h6>
            wenn Gefahr droht, dass nachfolgende bleibende Zähne zu wenig Platz haben oder das Kieferknochenwachstum behindert ist, machen wir rechtzeitig darauf aufmerksam und arbeiten eng mit bewährten Kieferorthopäden zusammen.
            <br><br>
            <h6>Kinder als Angstpatienten:</h6>
            eine besonders einfühlsame Behandlung der kleinen Patienten ist bei uns selbstverständlich und in der Mehrzahl der Fälle auch sehr erfolgreich. Sollte eine Behandlung trotzdem nicht möglich sein, bieten wir auch eine Sanierung unter Sedierung bei dem kieferchirurgischen Kollegen unseres Qualitätszirkels an.
            <br><br>
            <h6>Fissurenversiegelung:</h6>
            siehe bei Prophylaxe
            <br><br>
            <h6>Kindergartenbetreuung:</h6>
            in der Praxis werden mehrere Kindergärten aus Ratingen betreut. Der Zahnarztbesuch des Kindergartens macht den Kindern und uns immer sehr viel Spaß.
          </span>
        </div>
      </div>

    </div><!-- .accordion-container -->

  </div><!-- .wrapper -->

</section>

{% include "partials/cta__questions.njk"%}
