---
title: Leistungen

eleventyNavigation:
  key: Leistungen
  order: 2

layout: "layouts/base.njk"

seoTitle: Leistungen
seoDescription: Unsere Praxis bietet Ihnen ein umfangreiches Behandlungsspektrum. Gerne nehmen wir uns Zeit, um in einem persönlichen Gespräch auf Ihre individuellen Fragen einzugehen.
metaImage: 1200/leistungen_hero_01.jpg
---

<section class="hero lax">

  {% heroImage "leistungen_hero_01.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich" %}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper">

    <div class="intro_content svnty">
      <span class="topline" data="fade-up">{{ title }}</span>

      <!-- <p class="copy_intro" data="fade-up delay">Lorem Ipsum dolor sit</p> -->

      <p class="ctr">Unsere Praxis bietet Ihnen ein umfangreiches Behandlungsspektrum. Gerne nehmen wir uns Zeit, um in einem persönlichen Gespräch auf Ihre individuellen Fragen einzugehen.</p>

    </div><!-- .intro_content -->

    <div class="accordion-container svnty">

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Inlays und Füllungstherapie</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Wenn ein Zahn durch Karies geschädigt wurde, muss die zerstörte Zahnsubstanz entfernt und durch eine Füllung ersetzt werden. Da wir seit vielen Jahren kein Amalgam mehr verarbeiten, werden wir Sie individuell beraten, abhängig vom entstandenen Ausmaß des Schadens. Sie haben die Wahl zwischen geschichteten, keramikverstärkten und eingeklebten Kompositfüllungen und laborgefertigten Gold- oder Keramikinlays.<br><br>
            Komposite sind Kunststoffe, die durch keramische Partikel verstärkt werden. Sie sind sehr stabil, zahnfarben und biokompatibel. Sie sind geeignet für kleine bis mittelgrosse Defekte im Zahn.<br><br>
            Inlays kommen meist bei grösseren Defekten zum Einsatz und können so komplette Kauflächen ersetzen. Sie sind meist aus Kermik gefertigt, können aber auch in Gold hergestellt werden.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Wurzelbehandlungen</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Wenn durch eine tiefe Karies oder einen Unfall Bakterien in den Zahnnerv eingedrungen sind, entzündet sich dieser und stirbt ab. Dann müssen die Nervkanäle in den Zahnwurzeln gesäubert, desinfiziert und dicht aufgefüllt werden.<br><br>
            Bei einer Wurzelbehandlung werden die Wurzelkanäle gesäubert, aufbereitet und entzündliches Gewebe, der Zahnnerv und Bakterien entfernt. Für eine langfrisitig erfolgreiche Wurzelbehandlung und den dauerhaften Zahnerhalt müssen die Bakterien in allen kleinen Verästelungen und Aufzweigungen der Wurzelkanäle bis hin zur Wurzelspitze erreicht und entfernt werden. Früher mussten solche Zähne häufig gezogen werden.<br>
            Heutzutage kann man unter optischer Vergrößerung mit rotierenden Feilen, elektrometrischer Längenmessung und schallaktiverten Spüllungen das infizierte Gewebe schonend und vor allem gründlich entfernen. Danach wird ein biokompatibles Medikament in den Zahn eingebracht um eine Reinfektion des Wurzelkanalsystems zu verhindern und weitere Bakterien abzutöten.<br><br>
            Im Anschluss daran wird das gereinigte Wurzelkanalsystem wieder dicht gefüllt und verschlossen. Häufig müssen die wurzelbehandelten Zähne aufgrund ihres ausgeprägten Substanzverlustes mit einer Krone versorgt werden.<br>
            Ein solcher Zahn wird ihnen noch viele Jahre erhalten bleiben. Durch die modernen Methoden der Wurzelkanalbehandlung können die Zähne mit einer Wahrscheinlichkeit von über 90 % gerettet werden.<br>
            Gerne beraten wir Sie hierzu in unserer Praxis in Ratingen.

          </span>
        </div>
      </div>
      

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Bleachen (Zahnaufhellung)</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Sind Verfärbungen hartnäckig oder als Folge von Zahnwurzelbehandlungen bei einzelnen Zähnen aufgetreten, hilft oftmals das fachmännische Bleachen (englisch = Bleichen).<br>
            Mit einem Bleaching können wir ihre Zahnfarbe dauerhaft aufhellen. Dabei wird zwischen verschiedenen Bleachingverfahren unterschieden.<br><br>
            <h6>Home-Bleaching:</h6>
            Hierfür werden ihnen individuelle Schienen angefertigt, die sie zusammen mit dem Bleaching Gel mit nach Hause nehmen. Dort können sie dann selbstständig und schrittweise unter genauer Anleitung selber das Bleaching vornehmen.<br><br>
            <h6>In-office Bleaching:</h6>
            Beim In-office Bleaching reservieren wir für sie exklusiv Zeit in der Praxis und führen das Bleaching direkt am Stuhl durch unsere fachkundigen Mitarbeiterinnnen durch.<br><br>
            <h6>Internes Bleaching:</h6>
            Diese Methode wird angewandt wenn ihre Zähne durch eine Wurzelbehandlung dunkel verfärbt sind. Dabei werden die Zähne vom Inneren des Zahnes heraus gebleicht.  
          </span>
        </div>
      </div>


      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Veneers (Keramikschalen)</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Wenn beschädigte, zu kurze, dauerhaft verfärbte oder leicht schief stehende Zähne das Problem sind, können diese mit Veneers stabilisiert und verschönert werden. Veneers sind hauchdünne Verblendschalen aus Keramik, die auf die Oberfläche der natürlichen Zähne geklebt werden. Sie werden vom Zahntechniker in Detailarbeit genau nach der vom Zahnarzt erstellten Abformung auf Maß hergestellt. Farbe und Oberflächenstruktur können mit modernen keramischen Werkstoffen am besten nachgeahmt werden, so dass sie nicht von den eigenen Zähnen zu unterscheiden sind.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Kronen, Inlay, Füllungen, Brücken (zerstörte Zahnsubstanz durch zahnfarbenen Ersatz wieder herstellen)</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Zur Wiederherstellung ihrer Zahnsubstanz bieten wir ihnen Keramikinlays an, sowie geschichtete Kunststofffüllungen, die zu einem sehr hohen Prozentsatz mit Keramikpartikeln in Nanogröße gefüllt sind. Vorteile dieser Füllungsart sind: sie ist zahnfarben und nahezu unsichtbar, es kann sehr zahnschonend gearbeitet werden, da keine zusätzliche gesunde Zahnhartsubstanz zum Halt der Füllung entfernt werden muss. Kauflächen können natürlich gestaltet werden und bieten eine gute Kaustabilität.<br>
            Ebenso Kronen, Brücken und Teilkronen sind bei uns selbstverständlich metallfrei und damit hochästhetisch und zahnfarben.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Zahnimplantate oder implantatgetragener Zahnersatz</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Wir können Ihre fehlenden Zähne durch einzelne Zahnimplantate oder implantatgetragenen Zahnersatz ersetzen. Zahnimplantate sind die beste Alternative zu herausnehmbarem Zahnersatz und gleichen in Ihrer Funktion ihrem eigenen Zahn. Hierfür arbeiten wir Hand in Hand mit erfahrenen Chirurgen und Dentallaboren. Nach Absprache können diese auch direkt zu uns in die Praxis kommen.
          </span>
        </div>
      </div>

      <div id="zahnreinigung" class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Professionelle Zahnreinigung (PZR)</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Die häusliche Mundhygiene bildet zusammen mit der zahnärztlichen Prophylaxe die Basis für ihre Mundgesundheit und ein lebenslanges Wohlbefinden.<br><br>
            Zur zahnärztlichen Prophylaxe zählen neben den klassischen halbjährlichen Kontrollen auch die professionelle Zahnreinigung (PZR).<br><br>
            Hierbei werden äußerst gründliche alle harten und weichen Beläge entfernt und die Zähne poliert– insbesondere an den schwer zugänglichen Nischen wie den Zahnzwischenräumen, den Zahnfleischtaschen und dem Zahnfleischrand. Für eine besonders gründliche und schonende Reingung nutzen wir unser Airflow mit dem hochwertigen Glycin Pulver. Dabei wird das Wasser und das Pulver-Strahlgerät extra für Sie auf Körpertemperatur erwärmt. Damit können auch Patienten mit empfindlichen Zähnen sich entspannt zurücklegen- quasi mit dem Wellnessprogramm für ihre Zähne.<br><br>
            Ausführliche Informationen für ihre individuelle häusliche Mundhygiene liefern wir Ihnen direkt mit.
          </span>
        </div>
      </div>

      <div id="zahnreinigung" class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Kinderprophylaxe</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Mundgesundheit fängt schon bei den Kleinsten an. Daher bieten wir unseren kleinen Patienten durch gründliche Zahnpflegetipps, Anfärben der Beläge und anschließender Reinigung dieser schon frühzeitig eine Grundlage dafür. Dies wird zwischen dem 6.-18. Lebensjahr sogar von den gesetzlichen Krankenkassen übernommen.
            <br><br>
            <strong>Versiegelung der kariesfreien Zahnfissuren bei Kindern:</strong><br><br>
            Die Versiegelung der kariesfreien Grübchen in den Backenzähnen und den Prämolaren hat, wissenschaftlich belegt, zu einem immensen Rückgang der Erstkaries bei Kindern geführt. Daher achten wir sehr genau darauf, dass unsere kleinen Patienten möglichst früh dafür die Möglichkeit bekommen.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Parodontologie/ Parodontitisbehandlung</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Die Parodontologie ist die Wissenschaft vom Zahnhalteapparat.<br><br>
            <strong>Parodontitis</strong>, im Volksmund auch fälschlicherweise Parodontose genannt, ist eine Entzündung des Zahnbettes, verursacht durch die Ansammlung von bakteriellen Belägen, der sog. Plaque, und gehört mit der Gingivitis, der Zahnfleischentzündung, zu den am meisten verbreiteten chronischen Erkrankungen des Menschen. Als Folge dieser chronischen Entzündung kommt es zum Knochenrückgang und zur Lockerung der Zähne mit der Gefahr des Zahnverlustes.<br><br>
            Eine Parodontitis bleibt häufig lange unbemerkt und ist für Sie als Patient an erhöhtem Zahnfleischbluten und geschwollendem Zahnfleisch zu erkennen.<br><br>
            Allgemeinerkrankungen, wie z.B. Diabetes, Rauchen, Stress, bestimmte Medikamente und auch erbliche Veranlagung können die Erkrankung begünstigen. Da die in den Zahnfleischtaschen befindlichen Bakterien auch im Blutkreislauf zirkulieren, kann eine unbehandelte Parodontitis das Risiko für allgemeine Erkrankungen wie u.a. Herzinfarkt, Schlaganfall, Frühgeburten erhöhen.<br><br>
            <h6>Parodontitisbehandlung:</h6>
            Nach gründlicher Voruntersuchung, um den Schweregrad der Erkrankung festzustellen, erfolgt die erforderliche Vorbehandlung in Form von professioneller Zahnreinigung und individuellen Informationen für eine verbesserte Mundhygiene. Nach einigen Wochen erfolgt unter lokaler Betäubung die Reinigung der noch vorhandenen tiefen Zahnfleischtaschen, die Entfernung des Biofilms und die Glättung der Wurzeloberfläche. 
            In seltenen Fällen ist eine zusätzliche Gabe von speziellen Antibiotika sinnvoll. In den meisten Fällen kann dies sehr konservativ geschehen, nur noch in Ausnahmefällen sind operative Verfahren nötig.<br>
            Nach Abschluss der Behandlung sind Nachkontrollen und professionelle Zahnreinigungen in regelmäßigen Abständen, sowie eine konsequente häusliche Mundhygiene für einen langfristigen Erfolg unbedingt erforderlich.<br>
            Wir beraten Sie gerne hierzu in unserer Praxis für Parodontologie in Ratingen.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Lachgas</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            <h6>Entspannt beim Zahnarzt durch Lachgas</h6>
            <span class="lachgas"><span>Um Ihnen Ihren Gang zu uns noch mehr zu erleichtern, bieten wir Ihnen die Behandlung unter Lachgas an.<br>
            In den USA und einigen anderen Ländern gehört die Lachgasbehandlung seit vielen Jahren zum Alltag des Zahnarztes. Dadurch konnten viele Menschen Ihre Angst überwinden und ihr Lächeln wieder finden.</span>
              {% picture "lachgas-768x512.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}</span>
              <caption>Foto: Biewer medical Medizinprodukte, Koblenz</caption>
            <br><br>
            <h6>Vorteile der Lachgassedierung</h6>
            <ul class="bullets">
              <li>stressfreie und angenehme Behandlung</li>
              <li>reduziertes Schmerzempfinden</li>
              <li>Verringerung des Würgereizes</li>
              <li>auch bei Kindern sehr gut anwendbar</li>
              <li>Behandlungszeit wirkt deutlich verkürzt</li>
              <li>Fahrtüchtigkeit unmittelbar nach der Behandlung</li>
              <li>Sie bleiben während der gesamten Behandlung ansprechbar und „Herr/Frau der Lage“</li>
              <li>dadurch mögliche Vermeidung einer Vollnarkose</li>
            </ul>
            <br><br>
            <h6>Wie wirkt Lachgas?</h6>
            Lachgas wird frei im Blut transportiert, ohne sich mit den roten Blutkörperchen zu verbinden. Es wird nicht verstoffwechselt und zu beinahe 100 % über die Ausatmung wieder ausgeschieden. In der Zwischenzeit wirkt es im Zentralen Nervensystem. Es ruft einen Zustand kompletter körperlicher und seelischer Entspannung hervor, reduziert den Würgereiz und wirkt schmerzlindernd. Das Zeitempfinden lässt ebenso nach. Lachgas findet bereits seit über 100 Jahren Anwendung in der Medizin.
            <br><br>
            <h6>Wie sicher ist die Lachgasbehandlung?</h6>
            Die Lachgassedierung ist ein sichere lang erprobte Behandlung. Auch bei Kindern kann Sie problemlos durchgeführt werden. Es kam noch nie zu allergischen Reaktionen oder anderen Komplikationen.
            <br><br>
            Weitere Informationen finden Sie <a href="http://biewer-medical.com/" target="_blank" rel="nofollow noreferrer noopener">hier</a>.
            <br><br>
            Gerne sprechen Sie uns gerne zu dem Thema Lachgas Behandlung in unserer Zahnarztpraxis in Ratingen an.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Schienentherapie/CMD</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            <h6>Zähneknirschen (Bruxismus)/Craniomandibuläre Dysfunktion Leitsymptome und Beschwerden:</h6>
            <ul class="bullets">
              <li>Knacken oder Reiben des Kiefers bei Bewegungen </li>
              <li>Verspannte Muskulatur im Schulter-und Nackenbereich, die auch in den Rücken einstrahlen können</li>
              <li>Zahnschmerzen, empfindliche Zahnhälse</li>
              <li>„Muskelkater“ in der Kaumuskulatur morgens beim Aufwachen</li>
              <li>Beschwerden in der Kaumuskulatur</li>
              <li>Kopfschmerzen, Ohrenschmerzen</li>
              <li>Limitierte Kieferbewegungen</li>
              <li>Abgenutzte Zähne</li>
            </ul>
            <br>
            Viele Menschen knirschen mit den Zähnen, ohne es zu wissen. Dabei wird der Zahnschmelz wie mit Schmirgelpapier abgeschliffen. Zudem leidet das Kiefergelenk, in den Kiefermuskeln kommt es zu Verspannungen, die auch in die weitere Umgebung ausstrahlen können. Zahnsubstanz geht im Laufe der Jahre verloren, die Zähne werden kürzer, es können Kopfschmerzen, Tinnitus und ein Knacken oder sogar Schmerzen im Kiefergelenk folgen. Ursachen sind oft Stress oder ungünstige Zahnkontakte.<br><br>
            Zur Entlastung der Kiefergelenke und Kaumuskeln, sowie zum Schutz der Zahnoberflächen können wir Ihnen eine spezielle Aufbissschiene auch „Knirscherschiene“ im Volksmund genannt herstellen, die vor allem nachts getragen wird. Dies führt meistens sehr schnell zu einer Linderung ihrer Beschwerden.<br>
            Hierfür arbeiten wir eng mit Physiotherapeuten zusammen, um Ihnen schnell mit ihrem Anliegen weiterhelfen zu können.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Schnarchertherapie</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Im Alter von 60 Jahren schnarchen 60 % aller Männer und 40 % aller Frauen, viele allerdings auch in jüngeren Jahren. Übergewicht, Alkoholkonsum, Verengungen im Nasen-Rachenraum verstärken die Ursachen.<br><br>
            Nächtliches Schnarchen wird meist als sehr störend empfunden. Es beeinträchtigt sowohl den Schlaf des Partners, als auch die nächtliche Erholung des Schnarchenden und kann zu ernsthaften Erkrankungen führen. Zudem führt es zu einer schlechteren Schlafqualität und damit zu einer sinkenden Leistungsfähigkeit, Mundtrockenheit und Mundgeruch sowie zu Heiserkeit und auch Halsschmerzen.<br>
            Oft wird das Schnarchen sogar durch zeitweiligen Schlafapnoe (Atemstillstand) begleitet.<br><br>
            Ursache ist eine erschlaffende Muskulatur der oberen Atemwege und eine Rückverlagerung des Unterkiefers und der Zunge.<br><br>
            Wir als Zahnärzte können als Behandlung eine sog. Schnarcherschiene anfertigen, bei der durch ein spezielles Gelenk der Unterkiefer im Schlaf nicht zurückfallen kann.
          </span>
        </div>
      </div>

      <div class="ac" data="fade-up">
        <h6 class="ac-header">
          <button type="button" class="ac-trigger">Kinderbehandlung</button>
        </h6>
        <div class="ac-panel">
          <span class="ac-text">
            Sie gehört zu einem der Schwerpunkte in unserer Familienpraxis in Ratingen, da in jungen Jahren der Grundstein für ein Leben ohne Karies und Parodontitis gesetzt und konsequent weiterentwickelt werden kann. Oberstes Gebot ist eine Behandlung in Ruhe mit viel Zeit für die Kinder. Das Vertrauen Ihres Kindes steht im Mittelpunkt unseres Handelns. Dies in einer entspannten Atmosphäre zu gewinnen, ist der Schlüssel zu einem angstfreien Zahnarztbesuch. 
            <br><br>
            <h6>Beratung:</h6>
            wir beraten Eltern und ihre Kinder bei allen Fragen rund um gesunde Ernährung und die richtige Handhabung von kindgerechten Zahnpflegeprodukten. 
            <br><br>
            <h6>Sanierung bereits kariöser Milchzähne:</h6>
            kariöse Defekte in Milchzähnen werden bei uns mit modernen weißen Compomerfüllungen therapiert.
            <br><br>
            <h6>Rechtzeitiger Hinweis auf Zahnregulierung:</h6>
            wenn Gefahr droht, dass nachfolgende bleibende Zähne zu wenig Platz haben oder das Kieferknochenwachstum behindert ist, machen wir rechtzeitig darauf aufmerksam und arbeiten eng mit bewährten Kieferorthopäden zusammen.
            <br><br>
            <h6>Kinder als Angstpatienten:</h6>
            eine besonders einfühlsame Behandlung der kleinen Patienten ist bei uns selbstverständlich und in der Mehrzahl der Fälle auch sehr erfolgreich. Sollte eine Behandlung trotzdem nicht möglich sein, bieten wir auch eine Sanierung unter Sedierung bei dem kieferchirurgischen Kollegen unseres Qualitätszirkels an. 
            <br><br>
            <h6>Kinderprophylaxe:</h6>
            Mundgesundheit fängt schon bei den Kleinsten an. Daher bieten wir unseren kleinen Patienten durch gründliche Zahnpflegetipps, Anfärben der Beläge und anschließender Reinigung dieser schon frühzeitig eine Grundlage dafür. Dies wird zwischen dem 6.-18. Lebensjahr sogar von den gesetzlichen Krankenkassen übernommen.
            <br><br>
            <h6>Versiegelung der kariesfreien Zahnfissuren bei Kindern:</h6>
            Die Versiegelung der kariesfreien Grübchen in den Backenzähnen und den Prämolaren hat, wissenschaftlich belegt, zu einem immensen Rückgang der Erstkaries bei Kindern geführt. Daher achten wir sehr genau darauf, dass unsere kleinen Patienten möglichst früh dafür die Möglichkeit bekommen.
            <br><br>
            <h6>Kindergartenbetreuung:</h6>
            in der Praxis werden mehrere Kindergärten aus Ratingen betreut. Der Zahnarztbesuch des Kindergartens macht den Kindern und uns immer sehr viel Spaß.
          </span>
        </div>
      </div>

    </div><!-- .accordion-container -->

  </div><!-- .wrapper -->

</section>

{% include "partials/cta__questions.njk"%}
