---
title: Links

eleventyNavigation:
  key: Links
  parent: Service
  order: 4

layout: "layouts/base.njk"
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Service</span>
      <p class="copy_intro" data="fade-up delay">Informationen zum Thema:</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="links_content">

  <div class="wrapper">

    <ul class="item_1 sxty">
      <li data="fade-up">
        <h6>Rund um Zahnmedizin:</h6>
        <a class="link" href="http://www.prodente.de/" target="_blank" rel="nofollow noopener">www.prodente.de</a>
      </li>
      <li data="fade-up delay">
        <h6>Verhalten bei Unfällen mit Zahnbeteiligung:</h6>
        <a class="link" href="http://zahnunfall.de/" target="_blank" rel="nofollow noopener">www.zahnunfall.de</a>
      </li>
      <li data="fade-up">
        <h6>Implantate:</h6>
        <a class="link" href="https://www.bdizedi.org" target="_blank" rel="nofollow noopener">www.bdizedi.org</a><br>
        <a class="link" href="http://www.dgi-ev.de/" target="_blank" rel="nofollow noopener">www.dgi-ev.de</a><br>
        <a class="link" href="http://dgzi.de/" target="_blank" rel="nofollow noopener">www.dgzi.de</a></p>
      </li>
      <li data="fade-up delay">
        <h6>Wurzelbehandlung:</h6>
        <a class="link" href="http://vdze.de/wurzelkanalbehandlung.html" target="_blank" rel="nofollow noopener">www.vdze.de</a>
      </li>
      <li data="fade-up">
        <h6>Parodontitis:</h6>
        <a class="link" href="http://www.dgparo.de/startseite" target="_blank" rel="nofollow noopener">www.dgparo.de</a>
      </li>
      <li data="fade-up delay">
        <h6>Beratung für Patienten im zahnärztlichen Bereich:</h6>
        <a class="link" href="http://www.kzbv.de/" target="_blank" rel="nofollow noopener">www.kzbv.de</a>
      </li>
      <li data="fade-up">
        <h6>Patienteninformationsdienst:</h6>
        <a class="link" href="http://www.bzaek.de/" target="_blank" rel="nofollow noopener">www.bzaek.de</a>
      </li>
      <li data="fade-up delay">
        <h6>Hilfe bei Problemfällen:</h6>
        <a class="link" href="http://www.zahnaerztekammernordrhein.de/" target="_blank" rel="nofollow noopener">www.zahnaerztekammernordrhein.de</a>
      </li>
      <li data="fade-up">
        <h6>Hilfe bei Problemfällen:</h6>
        <a class="link" href="http://www.zahnaerztekammernordrhein.de/" target="_blank" rel="nofollow noopener">www.zahnaerztekammernordrhein.de</a>
      </li>
      <li data="fade-up delay">
        <h6>Fachinformationen zu zahnärztlichen Themen:</h6>
        <a class="link" href="http://www.dgzmk.de/index.php?lnk=m0138X" target="_blank" rel="nofollow noopener">www.dgzmk.de</a>
      </li>
      <li data="fade-up">
        <h6>Ästhetische Zahnheilkunde:</h6>
        <a class="link" href="http://www.dgaez.de/" target="_blank" rel="nofollow noopener">www.dgaez.de</a>
      </li>
      <li data="fade-up delay">
        <h6>Labortechnik:</h6>
        <a class="link" href="http://www.art-dental.net/" target="_blank" rel="nofollow noopener">www.art-dental.net</a><br>
        <a class="link" href="http://www.mr-dental-technik.de/" target="_blank" rel="nofollow noopener">www.mr-dental-technik.de</a>
      </li>

    </ul><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>
