---
title: Notfalltipps

eleventyNavigation:
  key: Notfalltipps
  parent: Service
  order: 3

layout: "layouts/base.njk"

seoTitle: Notfalltipps
seoDescription:
metaImage:
---
<section class="hero lax">

  {% picture "02_Szenen_0699.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper">

    <div class="intro_content sxty">
      <span class="topline" data="fade-up">Service</span>

      <p class="copy_intro" data="fade-up delay">{{ title }}</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="faq_content">

  <div class="wrapper">

    <div class="item_1 sxty" data="fade-up">

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>

    </div><!-- .item_1 -->


    <div class="item_2 sxty">

      <div class="accordion-container">

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Was mache ich im Falle einer Nachblutung nach einem chirurgischen Eingriff?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">Geben Sie Ihrem Körper erstmal Ruhe!
              <br>Verzichten Sie auf schwere körperliche Tätigkeiten sowie auf Alkohol, Nikotin, sowie starken Kaffee.
              <br>Um die Verletzung von Weichgewebe zu vermeiden, warten Sie am besten mit dem Essen, bis die Betäubung nachlässt.
              <br>Sollten dennoch Nachblutungen auftreten, beißen Sie für ca. 30min auf sterile Mulltupfer oder ein sauberes Stofftaschentuch (kein Papier). Des Weiteren versuchen Sie eine möglichst aufrechte Körperhaltung einzunehmen, sowie die Wangen und den Nacken zu kühlen.<br>
              <br>Sollte die Blutung dennoch anhalten, melden Sie sich bei uns in der Praxis oder wenden sich außerhalb der Sprechzeiten an den Zahnärztlichen Notdienst unter folgender Telefonnummer: <a href="tel:01805986700"><strong class="rd50">0180 5986700</strong></a>
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Ich habe regelmäßiges Zahnfleischbluten. Was kann ich tun?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">Zahnfleischbluten kann unterschiedliche Ursachen haben. Die häufigste Ursache ist eine mangelnde Mundhygiene, welche zu einer Zahnfleischentzündung (Gingivitis) der betroffenen Stellen im Mund führt. Des Weiteren können andere Faktoren wie beispielsweise das Rauchen, überkonturierter Zahnersatz, allgemeine Vorerkrankungen wie Diabetes oder eine unausgewogene Ernährung das Zahnfleischbluten begünstigen.
              <br>Es ist wichtig, eine gute häusliche Mundhygiene zu haben und regelmäßig zur professionellen Zahnreinigung sowie zur allgemeinen Kontrolle in unsere Praxis zu kommen. Bei diesem Termin beraten wir Sie individuell hinsichtlich Ihrer Mundgesundheit. 
              <br>Da sich diese Zahnfleischentzündung in Richtung Parodontitis (Erkrankung des gesamten Zahnhalteapparats mit den Folgen von Knochenabbau bis hin zur Zahnlockerung) entwickeln kann, ist es von großer Bedeutung, diese Zahnfleischentzündung rechtzeitig zu erkennen und zu behandeln.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">An wen wende ich mich, wenn ich außerhalb der Praxiszeiten starke Schmerzen habe?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              In dringenden Notfällen außerhalb unserer Sprechzeiten erreichen Sie den Zahnärztlichen Notdienst unter folgender Telefonnummer: <a href="tel:01805986700"><strong class="rd50">0180 5986700</strong></a>
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Was mache ich, wenn mir ein Zahn abbricht?</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Bei Beschwerden wie beispielsweise einem abgebrochenen Zahn können sie uns während der Sprechzeiten telefonisch erreichen und wir finden einen zeitnahen Termin, um sie zu versorgen. Außerhalb unserer Sprechzeiten erreichen Sie den Zahnärztlichen Notdienst in dringenden Notfällen unter folgender Telefonnummer: <a href="tel:01805986700"><strong class="rd50">0180 5986700</strong></a>
            </p>
          </div>
        </div>

      </div><!-- .accordion-container -->


    </div><!-- .item_2 -->

  </div><!-- .wrapper -->

</section>

{% include "partials/cta__questions.njk"%}
