---
title: Notfalltipps

eleventyNavigation:
  key: Notfalltipps
  parent: Service
  order: 3

layout: "layouts/base.njk"
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Service</span>
      <p class="copy_intro" data="fade-up delay">{{ title }}</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="faq_content">

  <div class="wrapper">

    <div class="item_1" data="fade-up">

      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>

    </div><!-- .item_1 -->


    <div class="item_2">

      <div class="accordion-container">

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
            <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
            <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Lorem ipsum dolor sit amet.</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
            <br> <br>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. </p>
          </div>
        </div>

      </div><!-- .accordion-container -->


    </div><!-- .item_2 -->

    <div class="item_3">

      <h4 data="fade-up">Ihre Frage wurde nicht beantwortet?</h4>
      <p class="copy" data="fade-up delay">Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
      <button class="btn btn_red" onclick="location.href='/'" type="button" data="fade-up">E-Mail schreiben</button>

    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>
