---
title: Offene Stellen

eleventyNavigation:
  key: Offene Stellen
  parent: praxis
  order: 5

layout: "layouts/base.njk"

seoTitle: Offene Stellen
seoDescription: Unsere offnenen Stellen
metaImage:
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">{{ title }}</span>
      <p class="copy_intro" data="fade-up delay">Teamplayer? Willkommen!</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="intro">

  <div class="wrapper">

    <div class="intro_content svnty">

      <p class="copy_intro" data="fade-up">Sie möchten Teil unseres Teams werden und suchen nach einer Stelle mit täglicher Freude bei der Arbeit und Perspektive?</p>

      <p data="fade-up delay">
        Dann sollten wir uns kennenlernen!<br>
        Wenn eine passende Stelle für Sie frei ist, senden Sie uns Ihre aussagekräftigen Bewerbungsunterlagen einfach an <a href="mailto:praxis@zahnaerzte-in-ratingen.de" class="link">praxis@zahnaerzte-in-ratingen.de</a>. Wir freuen uns von Ihnen zu lesen.
      </p>

      <p data="fade-up">Was wir bieten:
        13 Monatsgehälter, unterschiedliche Arbeitszeitmodelle, überdurchschnittliche Urlaubstage, Getränke und Essen, regelmäßige Teamevents, ideale Anbindung an die öffentlichen Verkehrsmittel, Freitags Arbeitszeiten bis 14 Uhr, keine Wochenendarbeit, sehr gute Verdienstmöglichkeiten und vor allem ein tolles Arbeitsklima, ein entspanntes Miteinander in einer modernen Praxis mit kompetenten und lustigen Chefinnen.<br><br>
        In den folgenden Bereichen benötigen wir Unterstützung:
      </p>  

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="offene-stellen">

  <div class="wrapper">

    <div class="item_1">
      <div class="rnd" data="fade-up">
        {% picture "offene-stellen_01.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <h6 data="fade-up">Zahnmedizinische Fachangestellte (m/w/d)</h6>
     <!-- <p data="fade-up delay">
        (Vollzeit, Teilzeit und Quereinstieg möglich)<br>
        Bereichern Sie unser Praxisteam zum nächstmöglichen Zeitpunkt. Wir freuen uns über fundierte Kenntnisse in der Behandlungsassistenz, Zuverlässigkeit sowie ein hohes Maß an Serviceorientierung. Freude am Beruf und an der täglichen Arbeit am Patienten setzen wir voraus – denn diese kennzeichnet unser gesamtes Behandler- und Praxisteam.
        Interesse? <br><br>Dann senden Sie uns eine <a href="mailto:praxis@zahnaerzte-in-ratingen.de" class="link">E-Mail</a> mit Ihren Bewerbungsunterlagen.
      </p> -->
    </div><!-- .item_1 -->


    <div class="item_2">
      <div class="rnd" data="fade-up">
        {% picture "offene-stellen_02.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <h6 data="fade-up">Auszubildende zur Zahnmedizinischen Fachangestellten (m/w/d)</h6>
      <!-- <p data="fade-up delay">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        Interesse? <br><br>Dann senden Sie uns eine <a href="mailto:praxis@zahnaerzte-in-ratingen.de" class="link">E-Mail</a> mit Ihren Bewerbungsunterlagen.
      </p> -->
    </div><!-- .item_2 -->

  </div><!-- .wrapper -->
</section>

{% include "partials/cta__questions.njk"%}
