---
title: Offene Stellen

eleventyNavigation:
  key: Offene Stellen
  parent: praxis
  order: 5

layout: "layouts/base.njk"

seoTitle: Offene Stellen
seoDescription: "Arbeiten beim Zahnarzt in Ratingen: Offene Stellen in einem freundlichen Team mit Freude, Perspektive und moderner Praxisumgebung."
metaImage: 1200/offene-stellen_02.jpg
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <h1 class="copy_intro page_title" data-animate="fade-up" data-delay="0.2">{{ title }}</h1>
      <p class="copy" data-animate="fade-up">Teamplayer? Willkommen!</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="intro">

  <div class="wrapper">

    <div class="intro_content svnty">

      <p class="copy_intro" data-animate="fade-up">Sie möchten Teil unseres Teams werden und suchen nach einer Stelle mit täglicher Freude bei der Arbeit und Perspektive?</p>

      <p data-animate="fade-up" data-delay="0.2">
        Dann sollten wir uns kennenlernen!<br>
        Wenn eine passende Stelle für Sie frei ist, senden Sie uns Ihre aussagekräftigen Bewerbungsunterlagen einfach an <a href="mailto:praxis@zahnaerzte-in-ratingen.de" class="link">praxis@zahnaerzte-in-ratingen.de</a>. Wir freuen uns von Ihnen zu lesen.
      </p>

      <p data-animate="fade-up">Was wir bieten:
        13 Monatsgehälter, unterschiedliche Arbeitszeitmodelle, überdurchschnittliche Urlaubstage, Getränke und Essen, regelmäßige Teamevents, ideale Anbindung an die öffentlichen Verkehrsmittel, Freitags Arbeitszeiten bis 14 Uhr, keine Wochenendarbeit, sehr gute Verdienstmöglichkeiten und vor allem ein tolles Arbeitsklima, ein entspanntes Miteinander in einer modernen Praxis mit kompetenten und lustigen Chefinnen.<br><br>
        In den folgenden Bereichen benötigen wir Unterstützung:
      </p>  

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="offene-stellen">

  <div class="wrapper">

    <div class="item_1">
      <div class="rnd" data-animate="fade-up">
        {% picture "offene-stellen_01.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <h6 data-animate="fade-up">Zahnmedizinische Fachangestellte (m/w/d)</h6>
    </div><!-- .item_1 -->


    <div class="item_2">
      <div class="rnd" data-animate="fade-up">
        {% picture "offene-stellen_02.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <h6 data-animate="fade-up">Auszubildende zur Zahnmedizinischen Fachangestellten (m/w/d)</h6>
    </div><!-- .item_2 -->

  </div><!-- .wrapper -->
</section>

{% include "partials/cta__questions.njk"%}
