---
title: Zahnärztinnen & Team

eleventyNavigation:
  key: Zahnärztinnen & Team
  parent: Praxis
  order: 2

layout: "layouts/base.njk"

seoTitle: Zahnärztinnen & Team
seoDescription: Lernen Sie unser engagiertes Praxisteam in Ratingen kennen – Zahnärztinnen und Mitarbeiterinnen, die sich mit Herz und Kompetenz um Sie kümmern.
metaImage: 1200/slider_03.jpg
---

<section class="fond team">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Das Team</span>
      <p class="copy_intro" data="fade-up delay">Dr. Julia Wilhelmy-Wunderlich und Dr. Verena Gaster möchten sich Ihnen gerne einmal vorstellen</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="team_portrait">

  <div class="wrapper">

    <div class="item_1">

      <div class="rnd" data="fade-up">
        {% picture "julia-wilhelmy-wunderlich.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h6 data="fade-up">Dr. Julia Wilhelmy-Wunderlich</h6>
        <!-- <p class="copy" data="fade-up delay">Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p> -->
        <button class="btn btn_red" onclick="location.href='/Dr_Julia_Wilhelmy-Wunderlich'" type="button" data="fade-up">Mehr erfahren</button>
      </div>

    </div><!-- .item_1 -->

    <div class="item_2">

      <div class="rnd" data="fade-up">
        {% picture "verena_gaster.jpg", "Zahnarztpraxis und Team – Dr. Verena Gaster"%}
      </div>
      <div>
        <h6 data="fade-up">Dr. Verena Gaster</h6>
        <!-- <p class="copy" data="fade-up delay">Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p> -->
        <button class="btn btn_red" onclick="location.href='/Dr_Verena_Gaster'" type="button" data="fade-up">Mehr erfahren</button>
      </div>

    </div><!-- .item_2 -->

  </div><!-- .wrapper -->

</section>

<section class="cta motivation">

  <div class="wrapper">

    <div class="item_1" data="fade-up">
      <svg class="ww_flame" alt="Quotation Marks">
        <use xlink:href="#ww_flame"></use>
      </svg>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h3 data="fade-up">Was uns antreibt</h3>
      <p class="copy" data="fade-up delay">Unsere Leidenschaft, unseren Patienten zu helfen ihre Mundgesundheit zu verbessern und ein strahlendes Lächeln zu erhalten. Unser gemeinsames Ziel ist es, durch eine einfühlsame Behandlung und eine hochwertige ästhetische Versorgung ihre Lebensqualität zu steigern.</p>
    </div><!-- .item_2 -->

  </div><!-- .wrapper -->


</section>


<section class="hero">

  <div class="wrapper">
    <h3 data="fade-up">Ärztinnen & Behandlerinnen</h3>
  </div><!-- .wrapper -->

  {% picture "slider_02.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

{% include "partials/languages.njk" %}
