---
title: Terminvereinbarung

eleventyNavigation:
  key: Terminvereinbarung
  parent: Service
  order: 1

layout: "layouts/base.njk"

seoTitle: Terminvereinbarung
seoDescription: Ihren Zahnarzttermin in Ratingen einfach online oder telefonisch buchen – schnell, bequem und unkompliziert.
metaImage: 1200/leistungen-teaser_03.jpg
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">Service</span>
      <p class="copy_intro" data="fade-up delay">{{ title }}</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="intro">

  <div class="wrapper">

    <div class="intro_content sxty">

      <p> Sie können telefonisch zu unseren Öffnungszeiten sowie jederzeit per Mail einen Termin bei uns in der Praxis vereinbaren. Nutzen Sie zudem gerne die Möglichkeit, online einen Termin bei uns anzufragen. Füllen Sie dazu das folgende Anfrageformular vollständig aus, woraufhin wir uns schnellstmöglich während unserer Sprechzeiten bei Ihnen melden.
      <br><br><strong>Beachten Sie bei Ihrer Terminanfrage bitte, dass ein Termin erst durch unsere Bestätigung zustande kommt.</strong><br><br>
      Bei Terminvereinbarungen mit weniger als 48 Stunden Vorlauf bitten wir Sie um eine telefonische Terminvereinbarung unter <span class="rd50"><strong>02102 . 847373</strong></span>.<br><br>
      Alternativ können Sie auch <a class="link" href="https://www.doctolib.de/einzelpraxis/ratingen/zahnarztpraxis-dr-julia-wilhelmy-wunderlich-dr-verena-gaster?utm_campaign=website-button&utm_source=zahnarztpraxis-dr-julia-wilhelmy-wunderlich-dr-verena-gaster-website-button&utm_medium=referral&utm_content=option-8&utm_term=zahnarztpraxis-dr-julia-wilhelmy-wunderlich-dr-verena-gaster" target="_blank" rel="nofollow noopener noreferrer">hier</a> über Doctolib einen Termin vereinbaren.
      </p>
    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section class="form pll">

  <div class="wrapper">
 
    <form   
      id="termin-form"
      class="sxty"
      name="termin_anfrage"
      method="POST"
      data-netlify="true"
      netlify-honeypot="bot-field"
      data="fade-up"
    >

      <!-- Pflicht: form-name muss identisch zum Formnamen sein -->
      <input type="hidden" name="form-name" value="termin_anfrage" />

      <!-- Honeypot (Spam-Schutz) -->
      <div style="display:none;">
        <label>Nicht ausfüllen: <input name="bot-field" /></label>
      </div>
      
      <fieldset class="prefer">
        <label for="Behandlung">Bei welcher Ärztin wünschen Sie die Behandlung?*
        <select id="arzt" name="Behandlung" required>
          <option>Bitte auswählen</option>
          <option value="Dr. Julia Wilhelmy-Wunderlich">Dr. Julia Wilhelmy-Wunderlich</option>
          <option value="Dr. Verena Gaster">Dr. Verena Gaster</option>
        </select>
        </label>
      </fieldset>

      <fieldset class="appointment">
        <label for="Termin">Wunschdatum*
          <input type="date" id="date" name="Termin" required>
        </label>
        <label for="Uhrzeit">Uhrzeit*
          <input type="time" id="time" name="Uhrzeit" required>
        </label>
      </fieldset>

      <br><br>

      <fieldset class="client_contact">

        <label for="Anrede">Anrede*
          <select id="anrede" name="Anrede" required>
            <option value="Frau">Frau</option>
            <option value="Herr">Herr</option>
          </select>
        </label>

        <label for="Vorname">Vorname*
          <input type="text" id="vorname" name="Vorname" required/>
        </label>

        <label for="Nachname">Nachname*
          <input type="text" id="nachname" name="Nachname" required/>
        </label>

        <label for="email">E-Mail-Adresse*  
          <input 
            type="email" 
            id="email" 
            name="Email" 
            pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$" 
            title="Bitte geben Sie eine gültige E-Mail-Adresse ein, z. B. name@beispiel.de"
            placeholder="name@beispiel.de"
            required
          />
        </label>

        <label for="Telefon">Telefon (zur Terminbestätigung)*
          <input 
            type="tel" 
            id="phone" 
            name="Telefon" 
            pattern="^\+?[0-9]{6,15}$" 
            title="Nur Ziffern, optional mit +49, z. B. +492102123456."
            placeholder="+492102123456" 
            required
          />
        </label>

      </fieldset>


      <fieldset class="message">

        <label for="Betreff">Was können wir für Sie tun?*
          <select id="subject" name="Betreff" required>
            <option disabled selected value>Bitte auswählen</option>
            <option value="">Beschwerden</option>
            <option value="">Kontrolle/Neuvorstellung</option>
            <option value="">Zahnreinigung</option>
            <option value="">Sonstiges</option>
          </select>
        </label>

        <label for="message">Anmerkungen
          <textarea id="message" name="message"></textarea>
        </label>

      </fieldset>

      <span>

        <p>* Pflichtfelder</p>

        <button class="btn btn_red" type="submit" data="fade-up">Terminanfrage senden</button>

      </span>

    </form>

    <div id="success-message" class="sxty hidden">
      <h6>Vielen Dank!</h6>
      <p data="fade-up delay">
        Ihr Terminwunsch ist bei uns angekommen. Wir melden uns zeitnah bei Ihnen.
      </p>
    </div>

  </div><!-- .wrapper -->

</section>
