---
title: Terminvereinbarung

eleventyNavigation:
  key: Terminvereinbarung
  parent: Service
  order: 1

layout: "layouts/base.njk"
---
<section class="hero lax">

  {% picture "termin.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="intro">

  <div class="wrapper">

    <div class="intro_content">
      <span class="topline" data="fade-up">Service</span>

      <p class="copy_intro" data="fade-up delay">Termin vereinbaren</p>

      <p>Nutzen Sie die Möglichkeit, unverbindlich einen Termin bei uns anzufragen. Bitte füllen Sie das Anfrageformular vollständig aus und wir melden uns schnellstmöglich bei Ihnen.
      <br><br><strong>Beachten Sie bei Ihrer Terminanfrage bitte auch, dass: </strong><br><br>
      wir Sie nur bei korrekt hinterlassener Telefonnummer / Mail-Adresse und während unserer Sprechzeiten zurückrufen können.
      ein Termin erst durch unsere Bestätigung zustande kommt.
      wir Sie bei Terminvereinbarungen mit weniger als 48 Stunden Vorlauf aus organisatorischen Gründen um eine telefonische Terminvereinbarung unter <span class="rd50"><strong>02102 . 847373</strong></span> bitten.
      eine Kontaktaufnahme/Terminanfrage eine Behandlung weder medizinisch noch rechtlich ersetzt.</p>
    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>

<section class="form">

  <div class="wrapper">

    <form class="" name="termin_anfrage" method="POST" data-netlify="true" data="fade-up">

      <fieldset class="prefer">
        <label for="Behandlung">Bei welcher Ärztin wünschen Sie die Behandlung?*
        <select id="arzt" name="Behandlung" required>
          <option>Bitte auswählen</option>
          <option value="Dr. Julia Wilhelmy-Wunderlich">Dr. Julia Wilhelmy-Wunderlich</option>
          <option value="Dr. Janna Bruns">Dr. Janna Bruns</option>
        </select>
        </label>
      </fieldset>

      <fieldset class="appointment">
        <label for="Termin">Wunschdatum*
          <input type="date" id="date" name="Termin" required>
        </label>
        <label for="Uhrzeit">Uhrzeit*
          <input type="time" id="time" name="Uhrzeit" required>
        </label>
      </fieldset>

      <br><br>

      <fieldset class="client_contact">

        <label for="Anrede">Anrede*
          <select id="anrede" name="Anrede" required>
            <option value="Frau">Frau</option>
            <option value="Herr">Herr</option>
          </select>
        </label>

        <label for="Vorname">Vorname
          <input type="text" id="vorname" name="Vorname" required/>
        </label>

        <label for="Nachname">Nachname
          <input type="text" id="nachname" name="Nachname" required/>
        </label>

        <label for="Email">E-Mail-Adresse*
          <input type="email" id="email" name="Email" required/>
        </label>

        <label for="Telefon">Telefon (zur Terminbestätigung)*
          <input type="tel" id="phone" name="Telefon" pattern="[0-9]" required/>
        </label>

      </fieldset>


      <fieldset class="message">

        <label for="Betreff">Was können wir für Sie tun?*
          <select id="subject" name="Betreff" required>
            <option value="">Lorem Ipsum</option>
            <option value="">Lorem Ipsum</option>
          </select>
        </label>

        <label for="message">Anmerkungen
          <textarea id="message" name="message"></textarea>
        </label>

      </fieldset>

      <span>

        <p>* Pflichtfelder</p>

        <button class="btn btn_red" type="submit" data="fade-up">Terminanfrage senden</button>

      </span>

    </form>

  </div><!-- .wrapper -->

</section>
