---
title: Übersicht

eleventyNavigation:
  key: Übersicht Praxis
  parent: Praxis
  order: 1

layout: "layouts/base.njk"

seoTitle: Übersicht Praxis
seoDescription:
metaImage:
---

<section class="hero lax">

  {% picture "praxis_hero_01.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

</section><!-- .hero -->

<section class="teaser_tiles_praxis">

  <div class="wrapper">

    <div class="item_1">
      <span class="topline" data="fade-up">Wir. Für Sie.</span>
      <p class="copy_intro" data="fade-up delay">Ein Lächeln verbindet uns mit unserem Gegenüber. Wir wollen Ihnen zu einem strahlenden Lächeln verhelfen.</p>
    </div><!-- .item_1 -->

    <div class="item_2">
      <div data="fade-up">
        {% picture "praxis_teaser_01.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Zahnärztinnen & Team</h3>
        <p class="copy" data="fade-up delay">Als Team mit Leidenschaft dabei, Zahnmedizin ist mehr als nur ein Beruf für uns. Lernen Sie uns gerne kennen.</p>
        <button class="btn btn_red" onclick="location.href='/team'" type="button" data="fade-up">Mehr erfahren</button>
      </div>

    </div><!-- .item_2 -->


    <div class="item_3">
      <div data="fade-up">
        {% picture "praxis_teaser_03.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Ausstattung</h3>
        <p class="copy" data="fade-up delay">Verschaffen Sie sich einen Überblick über die Ausstattungs-Highlights unserer Praxis.</p>
        <button class="btn btn_red" onclick="location.href='/ausstattung'" type="button" data="fade-up">Mehr erfahren</button>
      </div>
    </div><!-- .item_3 -->

    <div class="item_4">
      <div data="fade-up">
        {% picture "praxis_teaser_04.jpg", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}
      </div>
      <div>
        <h3 data="fade-up">Offene Stellen</h3>
        <p class="copy" data="fade-up delay">Sie wollen Teil unseres Teams werden, dann bewerben Sie sich doch bei uns.</p>
        <button class="btn btn_red" onclick="location.href='/offene-stellen'" type="button" data="fade-up">Mehr erfahren</button>
      </div>
    </div><!-- .item_4 -->

  </div><!-- .wrapper -->

</section>


{% include "partials/impressions_slider.njk" %}


{% include "partials/languages.njk" %}
