---
title: Unser Praxiskonzept

eleventyNavigation:
  key: Unser Praxiskonzept
  parent: praxis
  order: 3

layout: "layouts/base.njk"
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">{{ title }}</span>
      <p class="copy_intro" data="fade-up delay">Lorem Ipsum</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="faq_content">

  <div class="wrapper">

    <div class="item_1" data="fade-up">

      <p>
        Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen. Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt diese Sätze »Pangrams«.
      </p>

    </div><!-- .item_1 -->


    <div class="item_2">

      <div class="accordion-container">

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Lorem Ipsum</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Lorem Ipsum</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Lorem Ipsum</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Lorem Ipsum</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Lorem Ipsum</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Dies ist ein Typoblindtext. An ihm kann man sehen, ob alle Buchstaben da sind und wie sie aussehen. Manchmal benutzt man Worte wie Hamburgefonts, Rafgenduks oder Handgloves, um Schriften zu testen.
            </p>
          </div>
        </div>

      </div><!-- .accordion-container -->


    </div><!-- .item_2 -->

    <div class="item_3">

      <h4 data="fade-up">Ihre Frage wurde nicht beantwortet?</h4>
      <p class="copy" data="fade-up delay">Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
      <button class="btn btn_red" onclick="location.href='/'" type="button" data="fade-up">E-Mail schreiben</button>

    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>
