---
title: Unser Praxiskonzept

eleventyNavigation:
  key: Unser Praxiskonzept
  parent: praxis
  order: 3

layout: "layouts/base.njk"
---

<section class="fond">

  <div class="wrapper">

    <div class="item_1">

      <span class="topline" data="fade-up">{{ title }}</span>
      <p class="copy_intro" data="fade-up delay">Lorem Ipsum</p>

    </div><!-- .item_1 -->

  </div><!-- .wrapper -->

</section>


<section class="faq_content">

  <div class="wrapper">

    <div class="item_1" data="fade-up">

      <p>
        Als Fachzahnarztpraxis für Kieferorthopädie bieten wir unseren Patienten ein breites Spektrum kieferorthopädischer Behandlungen an. Dabei setzen wir auf ganzheitliche Behandlungskonzepte, die gleichermaßen funktional und ästhetisch begeistern. Lesen Sie nachfolgend gute Gründe, die für eine Behandlung in unserer Praxis sprechen. Wir freuen uns auf Sie!
      </p>

    </div><!-- .item_1 -->


    <div class="item_2">

      <div class="accordion-container">

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Langjährige Tradition</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Für eine umfassende und bestmögliche kieferorthopädische Behandlung setzen wir auf Wertebeständigkeit und Tradition. Dies ist dank unserer langjährigen und generationenübergreifenden Erfahrung und unserem Fokus als Familienpraxis möglich.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Modernste Technologien</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Um eine genaue Diagnostik sicherzustellen, nutzen wir eine innovative technische Ausstattung. So garantieren wir eine effektive und individuell auf unsere Patienten zugeschnittene Behandlung sowie einen optimalen Praxisablauf. Alles auf dem neuesten Stand von Wissenschaft und Technik.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Kurze Wege</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Passgenau und immer am Patienten orientiert – in unserem Praxislabor werden alle kieferorthopädischen Apparaturen selbst hergestellt. Damit ermöglichen wir ein einzigartiges Hand-in-Hand-Konzept, kurze Wege und zügige Termine für unsere Patienten. Und das alles mit mehr als 30 Jahren Kompetenz und Erfahrung unseres Zahntechnikers.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Fachliche Kompetenz</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Unsere Praxis legt viel Wert auf hohe Qualität und Behandlungskomfort, deswegen setzen wir auf eine ausgewogene Kombination aus fachlicher Expertise und kontinuierlicher Fort- und Weiterbildung des gesamten Teams.
            </p>
          </div>
        </div>

        <div class="ac" data="fade-up">
          <h6 class="ac-header">
            <button type="button" class="ac-trigger">Hohe Transparenz</button>
          </h6>
          <div class="ac-panel">
            <p class="ac-text">
              Um unseren Patienten Ängste und Sorgen zu nehmen, garantieren wir ein hohes Maß an Transparenz und erklären jeden Behandlungsschritt und den Kostenumfang ausführlich.
            </p>
          </div>
        </div>

      </div><!-- .accordion-container -->


    </div><!-- .item_2 -->

    <div class="item_3">

      <h4 data="fade-up">Ihre Frage wurde nicht beantwortet?</h4>
      <p class="copy" data="fade-up delay">Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
      <button class="btn btn_red" onclick="location.href='/'" type="button" data="fade-up">E-Mail schreiben</button>

    </div><!-- .item_3 -->

  </div><!-- .wrapper -->

</section>
