<section class="card_slider">

  <div class="item_1">
    <span class="topline" data="fade-up delay">Service</span>
    <p class="copy_intro" data="fade-up">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p>
  </div><!-- .item_1 -->


  <!-- Slider main container -->
  <div class="swiper crds_swiper">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">

        <div class="crd_slide">
          <svg class="ww_emergency" alt="Notfalltipps">
            <use xlink:href="#ww_emergency"></use>
          </svg>
          <h3>Notfalltipps</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div>

      </div>

      <div class="swiper-slide">

        <div class="crd_slide">
          <svg class="ww_checkboard" alt="Checklisten">
            <use xlink:href="#ww_checkboard"></use>
          </svg>
          <h3>Checklisten</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div>

      </div>

      <div class="swiper-slide">

        <div class="crd_slide">
          <svg class="ww_faq" alt="FAQ">
            <use xlink:href="#ww_faq"></use>
          </svg>
          <h3>FAQ</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
        </div>

      </div>

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-btn-prev">
      <svg class="next_btn" alt="Previous Slide">
        <use xlink:href="#next_btn"></use>
      </svg>
    </div>

    <div class="swiper-btn-next">
      <svg class="next_btn" alt="Next Slide">
        <use xlink:href="#next_btn"></use>
      </svg>
    </div>

  </div>

  <button class="btn btn_red" onclick="location.href='/uebersicht-service'" type="button" data="fade-up">Alle Services</button>

</section>
