<section class="credo_teaser">

  <div class="wrapper">

    <h3 class="wht" data="fade-up delay">Drei Gründe die für uns sprechen.</h3>

    <div class="item_1" data="fade-up">
      <svg class="ww_happy alt="Quotation Marks">
        <use xlink:href="#ww_happy"></use>
      </svg>
      <p class="h6">Erfahrenes und einfühlsames Team</p>
      <p>Unser Team besteht aus hochqualifizierten Zahnärzten und Fachkräften, die sich stetig weiterbilden, um unseren Patienten die bestmögliche Versorgung bieten zu können.</p>
    </div><!-- .item_1 -->

    <div class="item_2" data="fade-up">
      <svg class="ww_hours" alt="Quotation Marks">
        <use xlink:href="#ww_hours"></use>
      </svg>
      <p class="h6">Öffnungszeiten und Erreichbarkeit</p>
      <p>Wir flexible Öffnungszeiten, indem wir Termin von 07:00-20:00 Uhr anbieten können. Durch unsere Lage direkt am Europaring in Ratingen an der Grenze zu Düsseldorf, sind wir auch mit den öffentlichen Verkehrsmitteln gut zu erreichen. </p>
    </div><!-- .item_2 -->

    <div class="item_3" data="fade-up">
      <svg class="ww_smile" alt="Quotation Marks">
        <use xlink:href="#ww_smile"></use>
      </svg>
      <p class="h6">Glückliche Patienten</p>
      <p>Unsere Patienten sind unser Aushängeschild wie sie anhand der positiven Bewertungen auf den diversen Portalen sehen können.</p>
    </div><!-- .item_3 -->

    <!-- .item_4
    <div class="item_4" data="fade-up delay">
      <button class="btn btn_wht" onclick="location.href='/unser-praxiskonzept'" type="button">Unser Behandlungskonzept</button>
    </div> -->


  </div><!-- .wrapper -->

</section>