<div class="cta cta_na">

  <h4 data="fade-up">Ihre Frage wurde nicht beantwortet?</h4>
  <p class="copy" data="fade-up delay">Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
  <button class="btn btn_red" onclick="location.href='/'" type="button" data="fade-up">E-Mail schreiben</button>

</div><!-- .cta_na -->
