<section class="cta motivation">

  <div class="wrapper">

    <div class="item_1" data="fade-up">
      <svg class="ww_clock" alt="Questions?">
        <use xlink:href="#ww_clock"></use>
      </svg>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h3 data="fade-up">Jedoch nur das, was Sinn macht ...</h3>
      <p class="copy" data="fade-up delay">Wir haben stets den Blick auf die Medizintechnik gerichtet, um auch in diesem Bereich auf aktuellem Stand zu bleiben. Sinnvolle Neuerungen führen wir gerne für Sie ein – jedoch nur, wenn diese sich in der Praxis bewährt haben.</p>
    </div><!-- .item_2 -->

  </div><!-- .wrapper -->

</section>
