<section class="cta questions">

  <div class="wrapper">

    <div class="item_1" data="fade-up">
      <svg class="ww_talk" alt="Questions?">
        <use xlink:href="#ww_talk"></use>
      </svg>
    </div><!-- .item_1 -->

    <div class="item_2">
      <h3 data="fade-up">Sie haben noch Fragen?</h3>
      <p class="copy" data="fade-up delay">Schreiben Sie uns einfach eine E-Mail und wir werden uns schnellstmöglich bei Ihnen melden.</p>
      <button class="btn btn_red" onclick="location.href='mailto:praxis@zahnaerzte-in-ratingen.de'" type="button" data="fade-up">E-Mail schreiben</button>
    </div><!-- .item_2 -->

  </div><!-- .wrapper -->

</section>
