<div class="cta cta_na">

  <h4 data-animate="fade-up">Ihre Frage wurde nicht beantwortet?</h4>
  <p class="copy" data-animate="fade-up" data-delay="0.2">Nulla consequat massa quis enim.  Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
  <a class="btn btn_red" href="mailto:praxis@zahnaerzte-in-ratingen.de" data-animate="fade-up">E-Mail schreiben</a>

</div><!-- .cta_na -->
