<div style="position:fixed;top:200px;right:0;display:block;text-align:center;background-color:#107ACA; color:#ffffff;font-size:14px;width:80px;border-radius:4px 0 0 4px;padding:5px;z-index:999;opacity:0.85;box-shadow:1px 2px 4px rgba(0,0,0,0.2);line-height:1.4;">
<img style="display:inline-block;height:18px;margin-top:3px;margin-bottom:3px;vertical-align:middle;width:auto" src="https://www.doctolib.de/external_button/doctolib-white-transparent.png" alt="Doctolib"/>
<a style="display:block;color:#107ACA;text-decoration:none;padding:6px;margin-top:5px;background:#fff;border-radius:4px;" href="https://www.doctolib.de/einzelpraxis/ratingen/zahnarztpraxis-dr-julia-wilhelmy-wunderlich-dr-verena-gaster?utm_campaign=website-button&amp;utm_source=zahnarztpraxis-dr-julia-wilhelmy-wunderlich-dr-verena-gaster-website-button&amp;utm_medium=referral&amp;utm_content=option-8&amp;utm_term=zahnarztpraxis-dr-julia-wilhelmy-wunderlich-dr-verena-gaster" target="_blank" rel="noopener noreferrer" >Termin</a>
</div>