<footer>

  <div class="wrapper grd">

    <div class="badge">
      {% picture "jameda.png", "Jameda Bewertung 1.0"%}
    </div>

    <div class="directions">
      <h4 data="fade-up">Anfahrt & Parken</h4>
      <p data="fade-up">Um von den Parkplätzen zu unserer Praxis zu gelangen, passieren Sie einfach die Schranke und folgen der Lochnerstraße bis zur Hausnummer 43.</p>
      <iframe data="fade-up" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2495.1550872015173!2d6.839939999999999!3d51.28987000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc52d133ff6ef8d3!2sZahnarztpraxis%20Dr.%20Julia%20Wilhelmy-Wunderlich%20%26%20Dr.%20Janna%20Bruns!5e0!3m2!1sde!2sde!4v1660744799528!5m2!1sde!2sde" width="100%" height="510" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div><!-- .directions -->

    <div class="meta_informations">

      <div class="meta_informations__item" data="fade-up">
        <h6>Wir sind gerne für Sie da:</h6>
        <ul>
          <li><span><strong>Mo, Di, Do:</strong></span> <span>7.30-19.30 Uhr</span></li>
          <li><span><strong>Mi:</strong></span> <span>7.30-18.00 Uhr</span></li>
          <li><span><strong>Fr:</strong></span> <span>7.30-14.00 Uhr</span></li>
          <li>und zusätzlich nach Vereinbarung.</li>
        </ul>
      </div><!-- .meta_informations__item -->

      <div class="meta_informations__item" data="fade-up">
        <h6><br></h6>
        <p>
          In Schmerzfällen rufen Sie uns bitte an, da wir dafür spezielle Zeiten für Sie reserviert haben. <br><br>

          Außerhalb unserer Praxisöffnungszeiten erreichen Sie den Notdienst unter: <br>
          0180-59 86 700
        </p>
      </div><!-- .meta_informations__item -->

      <div class="meta_informations__item" data="fade-up">
        <h6>Adresse & Kontakt:</h6>
        <p>
          Lochnerstraße 43 <br>
          40878 Ratingen <br><br>

          Telefon: 0 21 02 . 84 73 73 <br>
          Telefax: 0 21 02 . 87 08 05 <br><br>

          <a class="beta_link link wht" href="mailto:praxis@zahnaerzte-in-ratingen.de">praxis@zahnaerzte-in-ratingen.de</a>
        </p>
      </div><!-- .meta_informations__item -->

    </div><!-- .meta_informations -->

  </div><!-- .wrapper -->

  <div class="footer_bar">

    <div class="wrapper">
      <ul class="footer_links legal">
        <li><a class="footer_links__item" href="/datenschutz">Datenschutz</a></li>
        <li>
          <span class="scrollUp">
            <svg class="ww_top" alt="Scroll to Top">
              <use xlink:href="#ww_top"></use>
            </svg>
          </span>
        </li>
        <li><a class="footer_links__item" href="/impressum">Impressum</a></li>
      </ul>

    </div><!-- .wrapper -->

  </div><!-- .footer_bar -->


</footer><!-- footer-->
