<header class="grd">

  <div class="ww-description">Zahnarztpraxis und Team <br>Dr. Julia Wilhelmy-Wunderlich</div>

  <div class="header_bar">

    <div class="site-branding">
      <a id="logo" href="/" rel="home" title="" aria-label="">
        <svg class="ww_logo_icon" alt="Zahnärztliche Gemeinschaftspraxis Wilhelmy-Wunderlich">
          <use xlink:href="#ww_logo_icon"></use>
        </svg>
        <svg class="ww_logo_typo" alt="Zahnärztliche Gemeinschaftspraxis Wilhelmy-Wunderlich">
          <use xlink:href="#ww_logo_typo"></use>
        </svg>
      </a>
    </div><!-- .site-branding -->

    {%- include "partials/nav.njk"-%}

  </div><!-- .header_bar -->

  <div class="contact_btns">
    <button class="btn ww_phone btn_blue" onclick="location.href='tel:02102847373'" type="button" name="Phone">Telefon: 0 21 02 . 84 73 73</button>
    <button class="btn ww_message" type="button" name="Message">Termin vereinbaren</button>
  </div><!-- contact_btns -->




</header><!-- header -->
