<section class="impressions">

  <h3 data="fade-up">Praxisimpressionen</h3>

  <!-- Slider main container -->
  <div class="swiper imps_swiper">

    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">

      <!-- Slides -->
      <div class="swiper-slide">

        {% picture "slider_1.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

      </div>

      <div class="swiper-slide">

        {% picture "slider_2.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

      </div>

      <div class="swiper-slide">

        {% picture "slider_3.png", "Zahnarztpraxis und Team – Dr. Julia Wilhelmy-Wunderlich"%}

      </div>

    </div>

    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>

</section>
