<section class="languages">

  <div class="wrapper">

    <div class="item_1">
      <p class="topline" data="fade-up">Gelebte Vielfalt. und Gesprochene.</p>
      <p class="copy_intro" data="fade-up delay">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo.</p>
    </div><!-- .item_1 -->

    <div class="item_2">
      <ul class="flags" data="fade-up delay">
        <li><span class="flag">{% picture "de.svg", "Deutsch"%}</span> <span class="tooltip">Deutsch</span></li>
        <li><span class="flag">{% picture "gb.svg", "English"%}</span> <span class="tooltip">English</span></li>
        <li><span class="flag">{% picture "fr.svg", "Français"%}</span> <span class="tooltip">Français</span></li>
        <li><span class="flag">{% picture "tr.svg", "Türk"%}</span> <span class="tooltip">Türk</span></li>
      </ul>
      <ul class="flags" data="fade-up">
        <li><span class="flag">{% picture "hr.svg", "Hrvatski"%}</span> <span class="tooltip">Hrvatski</span></li>
        <li><span class="flag">{% picture "rs.svg", "Српски"%}</span> <span class="tooltip">Српски</span></li>
        <li><span class="flag">{% picture "pt.svg", "Português"%}</span> <span class="tooltip">Português</span></li>
        <li><span class="flag">{% picture "nl.svg", "Nederlands"%}</span> <span class="tooltip">Nederlands</span></li>
      </ul>
    </div><!-- .item_2 -->


  </div><!-- .wrapper -->

</section>
