<nav class="menu-button-links">

  <button type="button" id="menubutton" title="Navigation" aria-haspopup="true" aria-controls="menu" aria-expanded="false">

    <div class="hamburger">
              <span></span>
            </div>

  </button>



  <ul id="menu" role="menu" aria-labelledby="menubutton" class="nav">
    <li role="none" class="nav__item nxt_lvl st_lvl__item">
      <a role="menuitem" href="/uebersicht-praxis" class="st_lvl__link {{ 'active' if '/uebersicht-praxis' in page.url }}{{ 'active' if '/team' in page.url }}{{ 'active' if '/Dr_Julia_Wilhelmy-Wunderlich' in page.url }}{{ 'active' if '/Dr_Janna_Bruns' in page.url }}{{ 'active' if '/unser-praxiskonzept' in page.url }}{{ 'active' if '/ausstattung' in page.url }}{{ 'active' if '/offene-stellen' in page.url }}">
        Praxis
        <span>
          <svg class="nxt_lvl__arrow">
            <use xlink:href="#nxt_lvl__arrow"></use>
          </svg>
        </span>
      </a>

      <ul role="none" class="praxis_items">

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/uebersicht-praxis" aria-current="{{ 'current' if '/uebersicht-praxis' in page.url }}page">Übersicht</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">

          <a role="menuitem" href="/team" aria-current="{{ 'current' if '/team' in page.url }}page">Zahnärztinnen & Team</a>

          <ul role="none" class="rd__lvl">
            <li role="none" class="nav__item rd_lvl__item">
              <a role="menuitem" href="/Dr_Julia_Wilhelmy-Wunderlich" aria-current="{{ 'current' if '/Dr_Julia_Wilhelmy-Wunderlich' in page.url }}page">Dr. Julia Wilhelmy-Wunderlich</a>
            </li>
            <li role="none" class="nav__item rd_lvl__item">
              <a role="menuitem" href="/Dr_Verena_Gaster" aria-current="{{ 'current' if '/Dr_Verena_Gaster' in page.url }}page">Dr. Verena Gaster</a>
            </li>

          </ul>

        </li>

        <!-- <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/unser-praxiskonzept" aria-current="{{ 'current' if '/unser-praxiskonzept' in page.url }}page">Unser Praxiskonzept</a>
        </li> -->

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/ausstattung" aria-current="{{ 'current' if '/ausstattung' in page.url }}page">Ausstattung</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/offene-stellen" aria-current="{{ 'current' if '/offene-stellen' in page.url }}page">Offene Stellen</a>
        </li>

      </ul>
    </li>

    <li role="none" class="nav__item st_lvl__item">

      <a role="menuitem" href="/leistungen" aria-current="{{ 'current' if '/leistungen' in page.url }}page" class="st_lvl__link">Leistungen</a>

    </li>

    <li role="none" class="nav__item nxt_lvl st_lvl__item">
      <a role="menuitem" href="/uebersicht-service" class="st_lvl__link {{ 'active' if '/uebersicht-service' in page.url }}{{ 'active' if '/faq' in page.url }}{{ 'active' if '/termin' in page.url }}{{ 'active' if '/notfalltipps' in page.url }}{{ 'active' if '/links' in page.url }}">
        Service
        <span>
          <svg class="nxt_lvl__arrow">
            <use xlink:href="#nxt_lvl__arrow"></use>
          </svg>
        </span>
      </a>

      <ul role="none" class="service_items">

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/uebersicht-service" aria-current="{{ 'current' if '/uebersicht-service' in page.url }}page">Übersicht</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/anamnesebogen" aria-current="{{ 'current' if '/anamnesebogen' in page.url }}page">Anamnesebogen</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/flexible-oeffnungszeiten" aria-current="{{ 'current' if '/flexible-oeffnungszeiten' in page.url }}page">Flexible Öffnungszeiten</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/termin" aria-current="{{ 'current' if '/termin' in page.url }}page">Terminvereinbarung</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/notfalltipps" aria-current="{{ 'current' if '/notfalltipps' in page.url }}page">Notfalltipps</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/praxisparkplaetze" aria-current="{{ 'current' if '/praxisparkplaetze' in page.url }}page">Praxisparkplätze</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/faq" aria-current="{{ 'current' if '/faq' in page.url }}page">FAQ</a>
        </li>

        <li role="none" class="nav__item nd_lvl__item">
          <a role="menuitem" href="/links" aria-current="{{ 'current' if '/links' in page.url }}page">Links</a>
        </li>

      </ul>

    </li>

    <li role="none" class="nav__item st_lvl__item">

      <a role="menuitem" href="/kontakt-anfahrt" aria-current="{{ 'current' if '/kontakt-anfahrt' in page.url }}page" class="st_lvl__link">Kontakt & Anfahrt</a>

    </li>

    <li role="none" class="nav__item st_lvl__item">
      <a role="menuitem" href="/termin" aria-current="{{ 'current' if '/termin' in page.url }}page" class="st_lvl__link">Terminvereinbarung</a>
    </li>

    <li role="none" class="meta_informations st_lvl__item">

      <div class="wrapper">

        <div class="meta_informations__item">
          <h6>Wir sind gerne für Sie da:</h6>
          <ul>
            <li><span><strong>Mo, Di, Do:</strong></span> <span>7.30-19.30 Uhr</span></li>
            <li><span><strong>Mi:</strong></span> <span>7.30-18.00 Uhr</span></li>
            <li><span><strong>Fr:</strong></span> <span>7.30-14.00 Uhr</span></li>
            <li>und zusätzlich nach Vereinbarung.</li>
          </ul>
        </div><!-- .meta_informations__item -->

        <div class="meta_informations__item">
          <h6>Adresse & Kontakt:</h6>
          <p>
            Lochnerstraße 43 <br>
            40878 Ratingen <br><br>

            Telefon: 0 21 02 . 84 73 73 <br>
            Telefax: 0 21 02 . 87 08 05 <br><br>

            <a class="beta_link link wht" href="mailto:praxis@zahnaerzte-in-ratingen.de">praxis@zahnaerzte-in-ratingen.de</a>
          </p>
        </div><!-- .meta_informations__item -->

      </div>

    </li><!-- .meta_informations -->

  </ul><!-- .menu_items -->



</nav><!-- .menu-button-links -->
