<section class="quotes">

  <div class="wrapper">

    <!-- Slider main container -->
    <div class="swiper qts_swiper">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide">

          <div class="quote_slide">
            <h3>Unsere Patienten über uns</h3>
            <p class="cpy_lrg">„Kann die Behandlung bei Dr. Wilhelmy-Wunderlich wärmstens weiterempfehlen. Sehr kompetente Ärztin, ein sehr freundliches Team und ein super Ergebnis. Bin sehr zufrieden und komme gerne wieder. Vielen Dank für alles!“
            </p>
            <p>M.H.</p>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="quote_slide">
            <h3>Unsere Patienten über uns</h3>
            <p class="cpy_lrg">„Ich bin Angstpatientin, daher kam ich irgendwann in diese Praxis, die mir sehr geholfen hat und noch bis heute! Alle, sowohl die Zahnärzte noch die Assistentinnen sind super geschult und immer freundlich,seit Jahren bin ich schon dort, vorrangig bei Fr.Dr.Wilhelmy-Wunderlich, die Tochter von Frau Schwan-Wilhelmy und BEIDE und auch die anderen sind mehr als kompetent und haben für jede Frage ein offenes Ohr und Einfühlungsvermögen!! Vielen Dank, dass es Sie alle gibt ❤️ Sogar mein Freund, ebenfalls ein Angstoatient hat alles ohne Wenn und Aber über sich ergehen lassen und ist glücklich über solch kompetente Zahnärzte, die wirklich helfen wollen!!!!“
            </p>
            <p>M.K.</p>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="quote_slide">
            <h3>Unsere Patienten über uns</h3>
            <p class="cpy_lrg">“„Sehr nette Zahnärztinnen mit tollem Team. Ich fühle mich immer gut behandelt. Besonders super finde ich die Terminbestätigung mit Kalendereintrag per Email.“
            </p>
            <p>L.S.</p>
          </div>

        </div>

      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-btn-prev">
        <svg class="next_btn" alt="Previous Slide">
          <use xlink:href="#next_btn"></use>
        </svg>
      </div>

      <div class="swiper-btn-next">
        <svg class="next_btn" alt="Next Slide">
          <use xlink:href="#next_btn"></use>
        </svg>
      </div>

    </div>


  </div><!-- .wrapper -->

</section>
