<section class="quotes">

  <div class="wrapper">

    <!-- Slider main container -->
    <div class="swiper qts_swiper">

      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">

        <!-- Slides -->
        <div class="swiper-slide">

          <div class="quote_slide">
            <h3>Unsere Patienten über uns</h3>
            <p class="cpy_lrg">“Seit dem Ausscheiden von Herrn Dr. Bareis bin ich bei Frau Dr. Wilhelmy-Wunderlich in Behandlung. Sie und auch Frau Dr. Bruns machen einen wirklich tollen Job und ich kann die Praxis auch nach dem Generationenwechsel wirklich nur empfehlen!”
            </p>
            <p>Johannes Schmidt, Ratingen</p>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="quote_slide">
            <h3>Unsere Patienten über uns</h3>
            <p class="cpy_lrg">“Seit dem Ausscheiden von Herrn Dr. Bareis bin ich bei Frau Dr. Wilhelmy-Wunderlich in Behandlung. Sie und auch Frau Dr. Bruns machen einen wirklich tollen Job und ich kann die Praxis auch nach dem Generationenwechsel wirklich nur empfehlen!”
            </p>
            <p>Johannes Schmidt, Ratingen</p>
          </div>

        </div>

        <div class="swiper-slide">

          <div class="quote_slide">
            <h3>Unsere Patienten über uns</h3>
            <p class="cpy_lrg">“Seit dem Ausscheiden von Herrn Dr. Bareis bin ich bei Frau Dr. Wilhelmy-Wunderlich in Behandlung. Sie und auch Frau Dr. Bruns machen einen wirklich tollen Job und ich kann die Praxis auch nach dem Generationenwechsel wirklich nur empfehlen!”
            </p>
            <p>Johannes Schmidt, Ratingen</p>
          </div>

        </div>

      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-btn-prev">
        <svg class="next_btn" alt="Previous Slide">
          <use xlink:href="#next_btn"></use>
        </svg>
      </div>

      <div class="swiper-btn-next">
        <svg class="next_btn" alt="Next Slide">
          <use xlink:href="#next_btn"></use>
        </svg>
      </div>

    </div>


  </div><!-- .wrapper -->

</section>
