<div class="sticky_badge">
  <ul class="sticky_icons">
    <li class="sticky_icons_item">

      <span class="sticky_content_item">
        <button class="btn btn_blue sticky_btn" onclick="location.href='tel:02102847373'" type="button" name="Phone">Telefon: 0 21 02 . 84 73 73</button>
      </span>

      <a href="tel:02102847373">
        <svg class="ww_phone" alt="Telefon Icon">
          <use xlink:href="#ww_phone"></use>
        </svg>
      </a>

    </li>
    <li class="sticky_icons_item">

      <span class="sticky_content_item">
        <button class="btn btn_blue sticky_btn" onclick="location.href='mailto:praxis@zahnaerzte-in-ratingen.de'" type="button" name="Message">praxis@zahnaerzte-in-ratingen.de</button>
      </span>

      <a href="mailto:praxis@zahnaerzte-in-ratingen.de">
        <svg class="ww_envelope" alt="Message Icon">
          <use xlink:href="#ww_envelope"></use>
        </svg>
      </a>

    </li>
    <li class="sticky_icons_item">

      <span class="sticky_content_item">
        <button class="btn btn_blue sticky_btn" onclick="window.open('https://www.google.com/maps/dir//Zahnarztpraxis+Dr.+Julia+Wilhelmy-Wunderlich+%26+Dr.+Janna+Bruns+Lochnerstra%C3%9Fe+43+40878+Ratingen/@51.28987,6.83994,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x47b8c8ebeff1c427:0xc52d133ff6ef8d3')" type="button" name="Message" target="_blank" rel="noopener noreferrer">zum Routenplaner</button>
      </span>

      <a href="https://www.google.com/maps/dir//Zahnarztpraxis+Dr.+Julia+Wilhelmy-Wunderlich+%26+Dr.+Janna+Bruns+Lochnerstra%C3%9Fe+43+40878+Ratingen/@51.28987,6.83994,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x47b8c8ebeff1c427:0xc52d133ff6ef8d3" target="_blank" rel="noopener noreferrer">
        <svg class="ww_route" alt="Route Icon">
          <use xlink:href="#ww_route"></use>
        </svg>
      </a>

    </li>
    <li class="sticky_icons_item">

      <span class="sticky_content_item">
        <button class="btn btn_blue sticky_btn" onclick="location.href='/termin'" type="button" name="Message">Termin vereinbaren</button>
      </span>

      <a href="/termin" target="_self">
        <svg class="ww_calendar" alt="Calendar Icon">
          <use xlink:href="#ww_calendar"></use>
        </svg>
      </a>

    </li>
  </ul>
  <!--
  <ul class="sticky_content">
    <li class="sticky_content_item">
      <button class="btn btn_blue sticky_btn" onclick="location.href='tel:02102847373'" type="button" name="Phone">Telefon: 0 21 02 . 84 73 73</button>
    </li>
    <li class="sticky_content_item">
      <button class="btn btn_blue sticky_btn" onclick="location.href='mailto:praxis@zahnaerzte-in-ratingen.de'" type="button" name="Message">praxis@zahnaerzte-in-ratingen.de</button>
    </li>
    <li class="sticky_content_item">
      <button class="btn btn_blue sticky_btn" onclick="location.href='https://www.google.com/maps/dir//Zahnarztpraxis+Dr.+Julia+Wilhelmy-Wunderlich+%26+Dr.+Janna+Bruns+Lochnerstra%C3%9Fe+43+40878+Ratingen/@51.28987,6.83994,16z/data=!4m5!4m4!1m0!1m2!1m1!1s0x47b8c8ebeff1c427:0xc52d133ff6ef8d3'" type="button" name="Message">zum Routenplaner</button>
    </li>
    <li class="sticky_content_item">
      <button class="btn btn_blue sticky_btn" onclick="location.href='tel:02102847373'" type="button" name="Message">Termin vereinbaren</button>
    </li>
  </ul>-->
</div>
